<!-- <div id="header" class="header d-flex justify-content-between"> -->
    <!-- begin navbar-header -->
    <div class="flex-center-y">
      <a routerLink="/main/editransmission/edimessage-list" class="navbar-brand">
        <span class="brand-logo"><img src="../../../assets/images/ups-logo.svg"></span>
        <span class="brand-text">{{'lb-brand-text' | translate }}</span>
      </a>
      <!-- begin navbar-left -->
      <!-- end navbar-left -->
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-right -->
    <div class="flex-center-y">
      <div class="pr-3">
        <div class="form-small">
          <select class="custom-select" (change)="setLanguage($event.target.value)">
            <option [selected]="selectedLanguage(language.value)" *ngFor="let language of languageList" value="{{language.value}}">{{language.label}}</option>
            <i class="fas fa-chevron-down text-black"></i>
          </select>
          
        </div>
      </div>
      <div class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <img alt="" src="../../../assets/images/user-13.png" /> 
          <span class="d-none d-md-inline">Username</span>
          <img alt="" src="../../../assets/images/icon-dropdown-white.svg" class="caret">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="javascript:;" class="dropdown-item">>{{'lb-dropdown-user-info' | translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item color-orange" (click)="logout()">{{'lb-dropdown-logout' | translate}}</a>
        </div>
      </div>
    </div>
    <!-- end header navigation right -->
  <!-- </div> -->