<!-- begin breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">{{'lb-master-data' | translate}}</li>
    <li class="breadcrumb-item active">{{'lb-city-list' | translate}}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{'lb-city-list' | translate}}</h1>

<form class="row m-0">
    <div class="form-group pr-3">
        <label>{{'lb-city-code' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtCode" #code="ngModel" [(ngModel)]="searchCondition.CityCode"
                maxlength="255" />
        </div>
    </div>
    <div class="form-group pr-3">
        <label>{{'lb-city-province' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtProvince" #name="ngModel" [(ngModel)]="searchProvince.ProvinceName"
                maxlength="255" />
        </div>
    </div>
    <div class="form-group pr-3">
        <label>{{'lb-city-name' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtName" #name="ngModel" [(ngModel)]="searchCondition.CityName"
                maxlength="255" />
        </div>
    </div>
    <div class="d-flex align-items-end">
        <div class="form-group pr-3 ">
            <button type="button" class="btn btn-primary px-5" (click)="searchListCity(1);">{{'bnt-city-search'|translate}}
            </button>
        </div>
        <div class="form-group pr-3">
            <button type="button" class="btn btn-outline-secondary px-5" (click)="searchCondition.CityCode='';
      searchCondition.CityName='';searchProvince.ProvinceName='';resetSearch(1);">{{'bnt-city-reset'|translate}}</button>
        </div>
    </div>
</form>
<div class="panel mt-2">
    <div class="">
        <div class="float-left row m-0">
            <div class="form-group pr-3">
                <button type="button" class="btn btn-primary" (click)="showFormCreate()">{{'lb-city-create'|translate}}</button>
            </div>
            <div class="form-group pr-3">
                <button type="button" class="btn btn-outline-danger" (click)="deleteMultipleItemCity()">{{'bnt-city-delete'|translate}}</button>
            </div>
        </div>
        <div class="float-right mb-3">
            <div class="flex-center-y">
                <select class="form-md float-left custom-select" [(ngModel)]="pageSize" (ngModelChange)="resetSearch(1)">
                    <option *ngFor="let i of pageList" [value]=i.value>{{'lb-city-display'|translate}} {{i.text}}
                        {{'lb-city-items'|translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="Checkbox">
                            <input type="checkbox" (change)="selectAll($event.target.checked)" />
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortColumnName('CityCode')">{{'lb-city-code'|translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortColumnName('ProvinceName')">{{'lb-city-province'|translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortColumnName('CityName')">{{'lb-city-name'|translate}}</th>
                    <th scope="col" class="text-nowrap">{{'lb-city-action'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let City of cities">
                    <th scope="row">
                        <div class="Checkbox">
                            <input type="checkbox" [(ngModel)]="City.IsSelected">
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <td>{{City.CityCode}}</td>
                    <td>{{City.ProvinceName}}</td>
                    <td>{{City.CityName}}</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <i class="fas fa-edit color-blue" (click)="showFormEdit(City.CityId)"></i>
                            <i class="fas fa-trash-alt color-red" (click)="deleteItemCity(City.CityId)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="totalItems == 0">
            <h4>{{'lb-not-data' | translate}}</h4>
        </table>
        <div class="table-footer">
            <span class="float-left flex-center-y">{{'lb-city-showing' | translate}} {{showPageForm}} {{'lb-city-to' |
                translate}} {{showPageTo}} {{'lb-city-of' | translate}} {{totalItems}} {{'lb-city-items' | translate}}</span>
            <div class="row">
                <div class="col-xs-12 col-12">
                    <div class="float-right">
                        <pagination [boundaryLinks]="true" [(ngModel)]="pageNumber" [itemsPerPage]="pageSize"
                            [totalItems]="totalItems" [rotate]="rotate" [maxSize]="3" (pageChanged)="pageChanged($event.page)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Create Modal -->
<div bsModal #modalAdd="bs-modal" class="modal fade" tabindex="-1" id="modalAdd" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal form-label-left" [formGroup]="registerForm" (ngSubmit)="onSaveChangeCity()">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">{{'lb-city-create' | translate}}</h5>
                    <button type="button" class="close" (click)="onResetCity()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Name'|translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input (ngModelChange)="cityFrm.ProvinceCode.setValue('')" class="form-control" type="text"
                                formControlName="ProvinceName" autocomplete="off" [typeahead]="provinceMasterData"
                                [typeaheadMinLength]="0" typeaheadOptionField="ProvinceName" [typeaheadOptionsLimit]="5"
                                (blur)="onChangeProvinceCode($event)" (typeaheadOnSelect)="onChangeProvinceCode($event)"
                                [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceName.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.ProvinceName.errors">
                                    <div *ngIf="cityFrm.ProvinceName.errors.maxlength">{{'lb-city-province-255-character'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceName.errors.required">{{'lb-city-required-provinceName'|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Code'|translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text" formControlName="ProvinceCode" autocomplete="off"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-city-name' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input class="form-control" type="text" formControlName="CityName" [ngClass]="{ 'is-invalid': submitted && cityFrm.CityName.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.CityName.errors">
                                    <div *ngIf="cityFrm.CityName.errors.maxlength">{{'lb-city-city-255-character'|translate}}</div>
                                    <div *ngIf="cityFrm.CityName.errors.required">{{'lb-city-required-cityName'|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label"> {{'lb-city-code' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text" formControlName="CityCode" autocomplete="off"
                                [ngClass]="{ 'is-invalid': submitted && cityFrm.CityCode.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.CityCode.errors">
                                    <div *ngIf="cityFrm.CityCode.errors.maxlength">{{'lb-city-30-digits'|translate}}</div>
                                    <div *ngIf="cityFrm.CityCode.errors.required">{{'lb-city-required-cityCode'|translate}}</div>
                                    <div *ngIf="cityFrm.CityCode.errors.pattern">{{'lb-city-not-number'|translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary form-sm" (click)="onResetCity()"
                            data-dismiss="modal">{{'bnt-city-cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary form-sm">{{'bnt-city-save'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Edit Modal -->
<div bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" id="modalAdd" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal form-label-left" [formGroup]="registerForm" (ngSubmit)="onSaveChangeCity()">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">{{'lb-city-create' | translate}}</h5>
                    <button type="button" class="close" (click)="onReSetEditCity()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Name' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input (ngModelChange)="cityFrm.ProvinceCode.setValue('')" class="form-control" type="text"
                                formControlName="ProvinceName" autocomplete="off" [typeahead]="provinceMasterData"
                                [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0" typeaheadOptionField="ProvinceName"
                                (typeaheadOnSelect)="onChangeProvinceCode($event)" [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceName.errors }">
                            <div class="invalid-feedback">
                                <div>{{'lb-city-required-provinceName'|translate}}</div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Code' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text" formControlName="ProvinceCode" autocomplete="off"
                                readonly="true">

                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-city-name' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input class="form-control" type="text" formControlName="CityName" [ngClass]="{ 'is-invalid': submitted && cityFrm.CityName.errors }">
                            <div class="invalid-feedback">
                                <div>{{'lb-city-required-CityName'|translate}}</div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label"> {{'lb-city-code' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text" formControlName="CityCode" autocomplete="off"
                                [ngClass]="{ 'is-invalid': submitted && cityFrm.CityCode.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.CityCode.errors">
                                    <div *ngIf="cityFrm.CityCode.errors.maxlength">{{'lb-city-30-digits'|translate}}</div>
                                    <div *ngIf="cityFrm.CityCode.errors.required">{{'lb-city-required-cityCode'|translate}}</div>
                                    <div *ngIf="cityFrm.CityCode.errors.pattern">{{'lb-city-not-number'|translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary form-sm" (click)="onReSetEditCity()"
                            data-dismiss="modal">{{'bnt-city-cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary form-sm">{{'bnt-city-save'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Edit Modal -->