<!-- begin breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">Configuration Setting</li>
  <li class="breadcrumb-item active">Intergration</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Intergration</h1>
<!-- end page-header -->
<div class="panel p-0">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link active flex-middle" id="pills-spb-tab" data-toggle="pill" href="#pills-spb" role="tab" aria-controls="pills-spb"
        aria-selected="true">SPB</a>
    </li>
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link flex-middle" id="pills-upsaprs-tab" data-toggle="pill" href="#pills-upsaprs" role="tab" aria-controls="pills-upsaprs"
        aria-selected="false">UPS APRS</a>
    </li>
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link flex-middle" id="pills-ccvt-tab" data-toggle="pill" href="#pills-ccvt" role="tab" aria-controls="pills-ccvt"
        aria-selected="false">CCVT</a>
    </li>
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link flex-middle" id="pills-chinaonline-tab" data-toggle="pill" href="#pills-chinaonline" role="tab" aria-controls="pills-chinaonline"
        aria-selected="false">ChinaOnline</a>
    </li>
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link flex-middle" id="pills-dir-tab" data-toggle="pill" href="#pills-dir" role="tab" aria-controls="pills-dir"
        aria-selected="false">DIR</a>
    </li>
    <li class="nav-item col-md-2 p-0">
      <a class="nav-link flex-middle" id="pills-gssi-tab" data-toggle="pill" href="#pills-gssi" role="tab" aria-controls="pills-gssi"
        aria-selected="false">GSSI</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active p-3" id="pills-spb" role="tabpanel" aria-labelledby="pills-spb-tab">
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">IP/Hostname</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="flex-center-x"><button type="button" class="btn btn-primary form-sm" data-dismiss="modal">Save</button></div>
    </div>
    <div class="tab-pane fade p-3" id="pills-upsaprs" role="tabpanel" aria-labelledby="pills-upsaprs-tab">2</div>
    <div class="tab-pane fade p-3" id="pills-ccvt" role="tabpanel" aria-labelledby="pills-ccvt-tab">3</div>
    <div class="tab-pane fade p-3" id="pills-chinaonline" role="tabpanel" aria-labelledby="pills-chinaonline-tab">4</div>
    <div class="tab-pane fade p-3" id="pills-dir" role="tabpanel" aria-labelledby="pills-dir-tab">
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">Connection String</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="flex-center-x"><button type="button" class="btn btn-primary form-sm" data-dismiss="modal">Save</button></div>
    </div>
    <div class="tab-pane fade p-3" id="pills-gssi" role="tabpanel" aria-labelledby="pills-gssi-tab">
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">IP/Host</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">User</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">Password</label>
        <div class="form-xl m-x-10">
          <input type="password" class="form-control" placeholder="">
        </div>
      </div>
      <div class="flex-center-x"><button type="button" class="btn btn-primary form-sm" data-dismiss="modal">Save</button></div>
    </div>
  </div>
</div>
