  <!-- begin breadcrumb -->
  <!-- end breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">EDI Transmission</li>
    <li class="breadcrumb-item">EDI Message Bacth List</li>
    <li class="breadcrumb-item active">Batch Ref No. 201807272100</li>
  </ol>
  <!-- begin page-header -->
  <h1 class="page-header"><a href="edi_edi-message-batch-list.html"><i class="fas fa-chevron-left mr-3"></i></a>Batch Ref No. 201807272100</h1>
  <!-- end page-header -->
  <div class="row m-0">
    <div class="form-group pr-3">
      <label>Message No.</label>
      <div class="form-md">
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Message Code</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Status</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Error Code</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Error Type</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="d-flex align-items-end">
      <div class="form-group pr-3 ">
        <button type="button" class="btn btn-primary form-sm">Search</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-secondary form-sm">Reset</button>
      </div>
    </div>
  </div>
  <div class="row mx--10">
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="pr-2 f-s-16">NO. EDI MESSAGE</span>
          <div class="color-blue f-s-40">4567</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="f-s-16 pr-2">NO. ACKNOWLEDGEMENT EDI MESSAGES</span>
          <div class="color-green f-s-40">3913</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="pr-2 f-s-16">NO. EXCEPTION EDI MESSAGES</span>
          <div class="color-red f-s-40">615</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel mt-2">
    <div class="">
      <div class="float-left row m-0">
        <div class="form-group pr-3">
          <button type="button" class="btn btn-primary">Resend</button>
        </div>
      </div>
      <div class="float-right mb-3">
        <div class="flex-center-y">
          <span>Show&nbsp;</span>
          <select class="form-ssm float-left custom-select">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
          <span>&nbsp;entries</span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <th scope="col" class="text-nowrap sorting">Message No.</th>
            <th scope="col" class="text-nowrap sorting">Message Code</th>
            <th scope="col" class="text-nowrap sorting">Message Name</th>
            <th scope="col" class="text-nowrap sorting">Status</th>
            <th scope="col" class="text-nowrap sorting">Error Code</th>
            <th scope="col" class="text-nowrap sorting">Error Type</th>
            <th scope="col" class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3102</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit3012"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>1102</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit1102"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3103</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit3103"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3107</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit3107"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3108</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit3108"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3109</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#edit3109"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3109</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S02_This System is abnormal please try again</td>
            <td>Data conversion error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3107</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-success form-sm">Successful</span>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3108</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger form-sm">Failed</span>
              </div>
            </td>
            <td>S02_This System is abnormal please try again</td>
            <td>Data conversion error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>1102</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-success form-sm">Successful</span>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3102</td>
            <td>新增用户日报信息数据元</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-success form-sm">Successful</span>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-xml.svg" class="h-14">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer">
        <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
        <nav class="float-right" aria-label="...">
          <ul class="pagination m-0">
            <li class="page-item disabled">
              <a class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item disabled">
              <a class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link">2<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--Edit 3012 -->
  <div class="modal fade" id="edit3012" tabindex="-1" role="dialog" aria-labelledby="edit3012Label" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit3012Label">3102 机构用户信息数据元</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pl-4">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3102" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>OperCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>1</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>EcCompanyID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="UPS">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>PostalDepartmentCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>OrgName</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="Organization">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>OrgCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>UnifiedSocialCreditCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456789">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>TaxRegNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>Phone</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>Operator</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>ProvinceCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>12345</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CityCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>231</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CountyCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>1456</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>Street</label>
            <div class="form-xl">
              <textarea class="form-control">176 Trapstyle Road, Ware, SG12 0BX</textarea>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between mb-0">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>Status</label>
            <div class="form-xl row m-0 d-flex justify-content-between">
              <select class="custom-select">
                <option selected>正常</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 3012 -->
  <!--begin Edit 1102 -->
  <div class="modal fade" id="edit1102" tabindex="-1" role="dialog" aria-labelledby="edit1102Label" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit1102Label">1102 实名查验记录数据元</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pl-4">
          <label class="group-title">TracesElement</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>LogisticProviderID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="UPS">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>MailNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="652111247">
            </div>
          </div>
          <hr>
          <label class="group-title">RealIDCheckRecord</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>UserType</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="2">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">UserId</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="455877">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>UserCardType</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="NA">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>UserCardID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="100058741">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>OrgCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="100058741">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">UnifiedSocialCreditCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="100058741">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">TaxRegNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="100058741">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="99">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCardType</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="01">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCardID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="1321">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckDate</label>
            <div class="form-xl form-calendar">
              <input type="text" class="form-control" placeholder="" value="2009/11/15 15:13:21">
              <img alt="" src="./img/icon-datetime.svg">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckMethod</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <hr>
          <label class="group-title">SenderAddress</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>ProvinceCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CityCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>10224</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CountyCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option selected>10224</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>Street</label>
            <div class="form-xl">
              <textarea class="form-control" rows="2">176 Trapstyle Road, Ware, SG12 0BX</textarea>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">SenderLatLng</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="-22.5024120000, 113.9383273453">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>InternalsType</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="518301">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>InternalsName</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="ABC">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>InternalsAmount</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="12345">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>ReceiverPhone</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456789">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 1102 -->
  <!--begin Edit 3103 -->
  <div class="modal fade" id="edit3103" tabindex="-1" role="dialog" aria-labelledby="edit3103Label" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit3103Label">3103 收派员信息数据元</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pl-4">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3103" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>EcCompanyId</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="UPS">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>PostalDepartmentCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>OperCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>1</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCardType</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="01">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffCardID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="100058741">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Name</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="ABC" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Mobile</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456789" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>StaffStatus</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>10</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">OutletsName</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="ABC" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">OutletsNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456789" disabled readonly>
            </div>
          </div>
          <hr>
          <label class="group-title">Address</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">ProvinceCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">CityCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456789" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">CountyCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="ABC" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Street</label>
            <div class="form-xl">
              <textarea class="form-control" rows="3" disabled readonly>176 Trapstyle Road, Ware, SG12 0BX</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 3103 -->
  <!--begin Edit 3107 -->
  <div class="modal fade" id="edit3107" tabindex="-1" role="dialog" aria-labelledby="edit3107Label" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit3107Label">3107 新增用户日报信息数据元</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pl-4">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3107" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>EcCompanyId</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="UPS">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>PostalDepartmentCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">StatDate</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="2018/08/08" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>NewCheckedUserNumber</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>TotalCheckedUserNumber</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>ToCheckUserNumber</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">TotalUserNumber</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="55" disabled readonly>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 3107 -->
  <!--begin Edit 3108 -->
  <div class="modal fade" id="edit3108" tabindex="-1" role="dialog" aria-labelledby="edit3108Label" aria-hidden="true">
    <div class="modal-dialog mw-650" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit3108Label">3108 实名查验日报信息数据元</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pl-4">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageNo</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">MessageCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3107" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>EcCompanyId</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="UPS">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>PostalDepartmentCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="999">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">StatDate</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="2018/08/08" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>TotalCheckUserNumber</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByManualMode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberBySmsVerifyCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByCertificateQRCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByWeixinVerifyCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByID</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByIDRecDevice</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByNFCSAM</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByOCR</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CheckUserNumberByAgreement</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 3108 -->
  <!--begin Edit 3109 -->
  <div class="modal fade" id="edit3109" tabindex="-1" role="dialog" aria-labelledby="edit3109Label" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="edit3109Label">3109 企业统计日报信息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pl-4">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">ExpOrgCode</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="123456" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">ExpOrgName</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="优比速" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>TotalExpressAmount</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3000">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>DisperseExpressAmount</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="1000">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">ProtocolExpressAmount</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="3000" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>ProvinceCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CityCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"><span class="color-red m-l--10">*&nbsp;</span>CountyCode</label>
            <div class="form-xl">
              <select class="custom-select">
                <option>Choose</option>
                <option value="1" selected>12345</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">ReportDate</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="2018/08/08" disabled readonly>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">SendTime</label>
            <div class="form-xl">
              <input type="text" class="form-control" placeholder="" value="15:05:03" disabled readonly>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Save</button>
          <button type="button" class="btn btn-primary">Save and Resend</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Edit 3109 -->
