<div class="upload-component">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">{{'lb-driver-management' | translate}}</li>
  </ol>
  <h1 class="page-header">{{'lb-uploadprofile' | translate}}</h1>
  <div class="panel-dashed-border flex-column flex-center-x">
    <img alt="" src="../../../../../assets/images/icon_upload.png" class="ml-auto mr-auto" style="width:55px;">
    <span class="color-grey flex-center-x f-s-16 mb-4">{{'lb-upload-csv' | translate}}</span>
    <span class="color-grey flex-center-x f-s-16 mb-4" *ngIf="fileData && fileData[0].name.length > 0">{{fileData[0].name}}</span>
    <div class="flex-center-x">
    </div>
    <div class="flex-center-x mb-3" *ngIf="showProgressBar()">
      <div class="progress" style="height: 20px; width: 685px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" [style.width]="processPercent + '%'">{{processPercent}}</div>
      </div>
    </div>
    <span class="color-grey flex-center-x f-s-16 mb-4" *ngIf="showProgressBar()">{{'lb-uploading' | translate}}</span>
    <div class="flex-center-x">
      <label class="btn btn-primary">
        {{'btn-browse'|translate}}
        <input type="file" style="display: none;" (change)="getFiles($event.target.files)">
      </label>
    </div>
  </div>
  <div class="flex-center-x pt-3 row m-0">
    <button type="button" class="btn btn-primary w-150 mx-2 mb-3" (click)="postFileToServer()" [disabled]="!fileData">{{'btn-upload' | translate}}</button>
    <button type="button" class="btn btn-outline-secondary w-150 mx-2 mb-3" data-dismiss="modal" (click)="downloadTemplateProfile()">{{'btn-download-template' | translate}}</button>
  </div>
  <div class="d-flex flex-column mt-3" *ngIf="fileDown">
    <label class="font-weight-bold f-s-16 mb-3">{{'lb-upload-sumary' | translate}}</label>
    <p>
      <i class="fas fa-check-circle color-green mr-2"></i>{{sumaryReport.SucessedItems}} {{'lb-record-created' | translate}}</p>
    <p>
      <i class="fas fa-times-circle color-red mr-2"></i>{{sumaryReport.FailedItems}} {{'lb-record-can-not-upload' | translate}}</p>
  </div>
  <div class="flex-center-x pt-3 row m-0" *ngIf="fileDown">
    <button type="button" class="btn btn-outline-secondary mx-2 mb-3" data-dismiss="modal" (click)="downloadFailedRecords()">{{'btn-download-failed' | translate}}</button>
  </div>
</div>