<!-- begin breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">{{'lb-configuration' | translate}}</li>
  <li class="breadcrumb-item active">{{'lb-notification-list' | translate}}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{'lb-notification-list' | translate}}</h1>
<div class="row m-0">
  <div class="form-group pr-3">
    <label>{{'lb-configuration-template-name' | translate}}</label>
    <div class="form-md">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  <div class="form-group pr-3">
    <label>{{'lb-configuration-status' | translate}}</label>
    <div class="form-md">
      <select class="custom-select">
        <option selected>Please select one</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="d-flex align-items-end">
    <div class="form-group pr-3">
      <button type="button" class="btn btn-primary form-sm">{{'lb-configuration-search' | translate}}</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-secondary form-sm">{{'lb-configuration-reset' | translate}}</button>
    </div>
  </div>
</div>
<div class="panel mt-2">
  <div class="">
    <div class="float-left row m-0">
      <div class="form-group pr-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">{{'lb-configuration-create' | translate}}</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-danger">{{'lb-configuration-delete' | translate}}</button>
      </div>
    </div>
    <div class="float-right mb-3">
      <div class="flex-center-y">
        <span>Show&nbsp;</span>
        <select class="form-ssm float-left custom-select">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        <span>&nbsp;entries</span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">
            <div class="Checkbox">
              <input type="checkbox" />
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <th scope="col" class="text-nowrap sorting">{{'lb-configuration-template-name' | translate}}</th>
          <th scope="col" class="text-nowrap sorting">{{'lb-configuration-template-category' | translate}}</th>
          <th scope="col" class="text-nowrap sorting">{{'lb-configuration-status' | translate}}</th>
          <th scope="col" class="">Action </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>Transmission Notification 1</td>
          <td>Batch Report</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-secondary w-80">Inactive</span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" />
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>Transmission Notification 2</td>
          <td>Error Message</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-success w-80">Active</span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" />
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>Transmission Notification 3</td>
          <td>Batch Report</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-success w-80">Active</span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>Transmission Notification 4</td>
          <td>Error Message</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-success w-80">Active</span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer">
      <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
      <nav class="float-right" aria-label="...">
        <ul class="pagination m-0">
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link">2
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
<!--Create Modal -->
<div class="modal fade"  id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [formGroup]="notificationForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Create New Notification Template</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Template Name</label>
            <div class="form-xl">
              <input type="text" formControlName="templateNameControl" class="form-control" placeholder="">
            </div>
          </div>
          <div class="form-group d-flex flex-row">
            <label class="col-form-label w-150">Active</label>
            <div class="">
              <label class="switch">
                <input type="checkbox" formControlName="isActiveControl" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Category</label>
            <div class="form-xl">
              <select class="custom-select" (change)="onSelectedCategory($event.target.value)">
                <option value="{{category.categoryID}}" *ngFor="let category of categories">{{category.categoryName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Sent To</label>
            <div class="form-xl">
              <input type="text" class="form-control"  formControlName="sentToControl" placeholder="">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">CC</label>
            <div class="form-xl">
              <input type="text" class="form-control"  formControlName="ccControl" placeholder="">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">BCC</label>
            <div class="form-xl">
              <input type="text" class="form-control"  formControlName="bccControl" placeholder="">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Subject</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="subjectControl" placeholder="">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">Message Body</label>
            <div class="form-xl">
              <textarea class="form-control" rows="5" formControlName="messageBodyControl"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal" (click)="cancelModal()">Cancel</button>
          <button type="button" class="btn btn-primary form-sm" (click)="createNotificationTemplate()">Save</button>
        </div>
      </div>
    </div>
</div>
<!-- end Create Modal -->
<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit User Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Template Name</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="Notification Template 1">
          </div>
        </div>
        <div class="form-group d-flex flex-row">
          <label class="col-form-label w-150">Active</label>
          <div class="">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Category</label>
          <div class="form-xl">
            <select class="custom-select">
              <option selected>Batch Report</option>
              <option value="1">12345</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Sent To</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="Email@example.com">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">CC</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">BCC</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Subject</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="Batch Summary Notifications">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Message Body</label>
          <div class="form-xl">
            <textarea class="form-control" rows="5">&lt;&lt;Message Code&gt;&gt; in &lt;&lt;Batch Ref. No&gt;&gt; was sent successfully. 
                Total &lt;&lt;No. EDI messages&gt;&gt; was sent, &lt;&lt;No. Acknowledgement EDI Messages&gt;&gt; was acknowledged, &lt;&lt;No. Exception EDI Messages&gt;&gt; failed.</textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary form-sm">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- end Create Modal -->