/* 1. Overrides

2. Page Options

3. Page Structure
	3.1 Header
	3.2 Sidebar
	3.3 Content
	3.4 Wizard
	3.5 Footer
	3.6 Top Menu
	3.7 Login
	3.8 Widget


4. Components
	4.1 Sizing
	4.2 Button
	4.3 Color
	4.4 Panel
		4.4.1 Panel-Table
		4.4.2 Panel-Form
		4.4.3 Panel-Dashed-Border
	4.5 Card
	4.6 Table
	4.7 Form
	4.8 Dropdown Menu
	4.9 Text
	4.10 Modal
	4.11 Alert
	4.12 Progress bar
	4.13 Tab
	4.14 Media 
	4.15 Badges
	*/

/* -----------
1. Overrides
----------- */
body{
	font-family: 'SegoeUI-Regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #282829;
	background-color: #FAFAFB;
	font-size: 14px;
}


/* -------------
2. Page option
------------- */
.page-header-fixed #header, .page-sidebar-fixed .sidebar{
	position: fixed;
}
.container-login{
	height: 100vh !important;
}
/* ------------
3.Page Structure
------------- */
/* 3.1 Header */
.header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
	margin-bottom: 0;
	background-color: #282829;
	color: #fff;
	border-bottom: 4px solid rgb(255,181,0);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-brand {
	font-size: 18px;
}
.brand-logo img {
	height: 37px;
}
.header a span, .header a b {
	padding-left: 10px;
	color: #fff;
}
.header .navbar-user img {
	height: 32px;
}
.header a {
	text-decoration: none;
}
.header .dropdown-toggle::after{
	display: none;
}
.caret{
	height: 8px !important;
}

/* 3.2 Sidebar */
.sidebar {
	width: 240px;
	z-index: 1030;
	top: 60px;
	height: 100%;
}
.sidebar .nav {
	height: 100%;
	display: block;
	list-style-type: none;
	padding: 0;
	border-radius: 0;
	border: none;
	background-color: #282829;
}
.sidebar .nav-item{
	background-color: #282829;
}
.sidebar a{
	color: #282829;
	border-radius: 0;
}
.sidebar.active {
	left: 0;
}
.sidebar .icon-sidebar,
.sidebar .icon-sidebar2{
	width: 20px;
	height: 20px;
	margin-right: 16px;
}
.sidebar li.active .icon-sidebar{
	display: block;
}
.sidebar li>a>.icon-sidebar2,
.sidebar li:not(:hover).active .icon-sidebar2,
.sidebar li.active .icon-sidebar2,
.sidebar li:not(:hover) .icon-sidebar2,
.sidebar li:hover .icon-sidebar{
	display: none;
}
.sidebar ul li.active .icon-sidebar2, a[aria-expanded="true"] .icon-sidebar2,
.sidebar ul li a:hover .icon-sidebar2{
	display: block !important;
}
.sidebar ul li.active .icon-sidebar, a[aria-expanded="true"] .icon-sidebar,
.sidebar ul li a:hover .icon-sidebar{
	display: none;
}
.sidebar .icon-sidebar::before,
.sidebar .icon-sidebar::after,
.sidebar i::after{
	content: '';
	clear: both;
	display: table;
}
.sidebar i{
	color: #b7b7b7;
	margin-top: 4px;
}
.sidebar span{
	color: #b7b7b7;
}
.sidebar .fa-circle{
	font-size: 4px;
	margin-right: 8px;
	margin-top: 8px;
	margin-left: 38px;
	color: #b7b7b7;
}
.sidebar .nav-item{
	border-top: 1px solid #707070;
	position: relative;
}
.sidebar .nav-item:after,
.sidebar .nav-item:before{
	content: '';
	clear: both;
	display: table
}
.sidebar a{
	padding: 12px;
	display: block;
	text-decoration: none;
}
.sidebar a:hover{
	color: #121212;
}

.sidebar li:hover{
	background-color: #121212;
}
.sidebar ul li .has-sub a:hover,.sidebar ul li .has-sub a:focus, .sidebar ul li .has-sub a.active {
	background:#2196F3;
}
.sidebar ul li.active>a, a[aria-expanded="true"]{
	background-color: #121212;
}
.sidebar ul li.active span, a[aria-expanded="true"] span,
.sidebar ul li a:hover span,
.sidebar ul li .has-sub a:focus span,
.sidebar ul li .has-sub a.active span,
.sidebar ul li .has-sub a:focus i,
.sidebar ul li .has-sub a.active i,
.sidebar ul li.active i, a[aria-expanded="true"] i,
.sidebar ul li a:hover i{
	color: #fff;
}
.sidebar .has-sub a{
	background-color: #121212;
}
.sidebar .dropdown-toggle::after{
	display: none;
}
.img-sidebar-toggled{
	height: 32px;
	position: absolute;
	right: 0;
	margin-right: -8px;
	bottom: 100px;
}
/* 3.3 Content */
.content{
	margin-left: 240px;
	margin-top: 60px;
	padding: 16px 32px;
}
.content .breadcrumb{
	background-color: #FAFAFB;
	padding: 0 0 24px 0;
	margin-bottom: 0;
}
.content .page-header{
	font-size: 32px;
	padding: 0;
	margin-bottom: 48px;
}


/* 3.7 Login */

.login .card {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}
.login .card-body {
	padding: 2.25rem 3.25rem;
}
.login label{
	font-weight: bold;
}
.login .card-header {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	padding-top: 20px;
	padding-bottom: 20px;
}
.login .btn {
	margin-top: 1.5rem;
}
/*-----------
4 Component
-----------*/

/* 4.1 Sizing */
.flex-center-x{
	display: flex;
	justify-content: center;
	width: 100%;
}
.flex-center-y{
	display: flex;
	align-items: center;
}
.flex-middle{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.m-x-10{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.h-14{
	height: 14px;
}
.h-55{
	height: 55px;
}
.w-70{
	width: 70px !important;
}
.w-150{
	width: 150px;
}
.w-232{
	width: 232px;
}
.mw-550{
	min-width: 550px !important;
}
.mw-650{
	min-width: 650px !important;
}
.w-420{
	width: 420px;
}
.f-s-16{
	font-size: 16px;
}
.f-s-40{
	font-size: 40px;
}
.mx--10{
	margin-left: -10px;
	margin-right: -10px;
}
.m-l--10{
	margin-left: -10px;
}
/* 4.2 Button */
.btn{
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	font-size: 14px;
	height: 32px;
}
.btn-primary{
	background-color: #2196F3;
	border-color: #2196F3;
}
.btn-outline-secondary{
	border-color:#C8C8C9;
	color: #2196F3;
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled{
	color:#2196F3;
}
/* 4.3 Color */
.color-red{
	color: #F05B54;
}
.color-green{
	color: #79C753;
}
.color-blue{
	color: #2196F3;
}
.color-white{
	color: #ffffff;
}
.color-grey{
	color: #AEAEAE;
}
.bg-green{
	background-color: #79C753;
}
/* 4.4 Panel */
.panel{
	background-color: #ffffff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	padding: 16px;
	border-top: none;
	border-left: #E4E4E4 1px solid;
	border-right: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
}
/* 4.4.3 Panel-Dashed-Border*/
.panel-dashed-border{
	border: dashed 1px #7D7D7D;
	padding: 20px;
	border-radius: 4px;
}
/* 4.5 Card */
.card{
	border-radius: 0;
}
.card-header{
	margin: 0;
	background-color: #FAFAFB;
}
.card-header[aria-expanded="true"] .icon-square-down,
.card-accordion .icon-square-right,
.card-header[aria-expanded="false"] .icon-square-right
{
	display: none;
}
.card-header[aria-expanded="true"] .icon-square-right{
	display: inline-block;
}
.card-header[aria-expanded="true"] label,
.card-header[aria-expanded="true"] i{
	color: #02aeef;
}
.card-header[aria-expanded="false"] label,
.card-header[aria-expanded="false"] i,{
	color: #1e1e1f;
}
.card-header.collapsed label, .card-header.collapsed i{
	color: #1e1e1f;
}
.card-header label {
	font-weight: bold;
	font-size: 16px;
	margin-left: 8px;
}
.card-header i{
	font-size: 16px;
}
/* 4.7 Form */
input, select{
	height: 32px !important;
	border-radius: 4px;
}
input, optgroup, select, textarea{
	font-size: 14px !important;
}
.form-xl{
	width: 320px;
}
.form-md{
	width: 184px;
}
.form-sm{
	width: 96px;
}
.form-ssm{
	width: 180px;
}
.form-calendar img {
	position: absolute;
	top: 6px;
	right: 8px;
	height: 20px;
}
.form-calendar {
	position: relative;
}
.custom-select{
	background: #FFF url(../images/icon-dropdown.svg)no-repeat right .5rem center;
	background-size: 10px 10px;
}
.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after {
	margin-top: -2px;
}
.Checkbox {
	width: 20px;
	height: 20px;
	position: relative;
}
.Checkbox > * {
	position: absolute;
}
.Checkbox-visible {
	border: 1px solid gray;
	width: 16px;
	height: 16px;
	margin: 2px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 3px;
}
.Checkbox > input {
	z-index: 1;
	opacity: 0;
	left: 50%;
	top: 50%;
	transform: translatex(-50%) translatey(-50%);
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
.Checkbox > input:checked + .Checkbox-visible {
	background: #2196f3;
	border-color: #2196f3;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
}
.Checkbox > input:hover + .Checkbox-visible {
	border-color: #ccc;
}
.Checkbox > input:hover:checked + .Checkbox-visible {
	border-color: #2196f3;
}
.Checkbox > input:focus + .Checkbox-visible {
	border-color: #2196f3;
}
.row>[class^=col-] {
	padding-left: 10px;
	padding-right: 10px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* 4.6 Table */
.table-footer .page-link {
	padding-top: 5px;
	padding-bottom: 5px;
}
.pagination>li>a {
	margin-left: 8px;
	border: solid 1px #7d7d7d;
	color: #1e1e1f;
	border-radius: 4px;
	height: 32px;
	padding: 6px 12px;
	display: inline-block;
	line-height: 1.42857143;
}
.table-footer:after {
	content: '';
	display: block;
	clear: both;
}
table .sorting{
	position: relative;
}
table .sorting::after{
	position: absolute;
	top: 11px;
	left: 8px;
	display: block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0dc';
	color: #2d353c;
}
table thead .sorting{
	padding-left: 24px !important; 
}
table .fa-check-circle,table .fa-times-circle{
	margin-top: 1px;
}
/* 4.10 Madal */
.modal .group-title{
	font-weight: bold;
	margin-bottom: 16px;
}
.modal hr{
	margin-top: 32px;
	margin-bottom: 32px;
}
.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}
/* 4.13 Tab */
.nav-pills .nav-link{
	border-radius: 0;
	background-color: #ffffff;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-top: none;
	height: 100%;
	color: #2196F3;
	font-weight: bold;
}
.nav-pills .nav-item:first-child .nav-link{
	border-left: none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #ffffff;
	color: #282829;
	border-bottom: 3px solid #565657;
}
/* 4.15 Badges */
.badge{
	font-size: 100%;
	font-weight: 600;
}
.badge-success{
	background-color: #79C753;
}
.badge-danger{
	background-color: #F05B54;
}
.badge-secondary{
	background-color: #AEAEAE;
}
/* -----------------(*)---------------- */
.cnpis-label-required:after{
	bottom: 2px;
    right: -10px;
    content: " *";
    font-weight: bolder;
    color: #b42a26;
}
/* ----------------Edge--------------- */
@supports (-ms-ime-align:auto) {
    .header a span, .header a b {
		padding-left: 9px;
		color: #fff;
	}
}