<!-- begin breadcrumb -->
<div class="upload-component" *ngIf="pickupShipmentModels.length == 0">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ 'lb-breadcrumb-shipment' | translate }}</li>
    <li class="breadcrumb-item active">{{ 'lb-breadcrumb-pickupShipment' | translate }}</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">{{ 'lb-Upload-Shipment' | translate }}</h1>
  <div class="panel-dashed-border flex-column flex-center-x">
    <img alt="" src="../../../../../assets/images/icon_upload.png" class="ml-auto mr-auto" style="width:55px;" />
    <span class="color-grey flex-center-x f-s-16 mb-4">{{ 'lb-Upload-File' | translate }}</span>
    <div class="flex-center-x">
    </div>
    <div class="flex-center-x mb-3" *ngIf="showProgressBar()">
      <div class="progress" style="height: 20px; width: 685px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" [style.width]="processPercent + '%'">{{processPercent}}</div>
      </div>
    </div>
    <span class="color-grey flex-center-x f-s-16 mb-4" *ngIf="showProgressBar()">Uploading....</span>
    <div class="flex-center-x">
      <div class="col-sm-6 col-12" style="margin-right: -15px;">
        <input type="text" class="form-control" [value]="uploadFileName" disabled />
      </div>
      <label class="btn btn-primary">
        {{ 'btn-Browse-File' | translate }}
        <input type="file" style="display: none;" (change)="getFiles($event.target.files)" />
      </label>
    </div>
  </div>
  <div class="flex-center-x pt-3 row m-0">
    <button type="button" class="btn btn-primary w-150 mx-2 mb-3" [disabled]="(uploadFileName=='')" (click)="postFileToServer()">{{ 'btn-Upload-File' | translate }}</button>
    <button type="button" class="btn btn-outline-secondary w-150 mx-2 mb-3" data-dismiss="modal" (click)="downloadTemplateProfile()">{{ 'btn-Download-Template' | translate }}</button>
  </div>
</div>
<div class="preview-content" *ngIf="pickupShipmentModels.length != 0">
  <h1>{{ 'lb-Preview-Upload-File' | translate }}</h1>
  <div class="panel mt-2">
    <div class="row mb-3">
        <div class="col-lg-2 col-sm-2 col-12 mb-1">
          <label for="lbCreatedBy" class="mt-2">{{ 'lb-Created-By' | translate }}:</label>
        </div>
        <div class="col-lg-2 col-sm-2 col-12 mb-1">
          <input type="text" class="form-control mb-2 mr-sm-2" id="lbCreatedBy" 
            [(ngModel)]="CreateBy" (change)="updateCreator($event.target.value)" 
            placeholder="{{ 'lb-Created-By' | translate }}" maxlength="30" />
        </div>
        <div class="col-lg-8 col-sm-8 col-12 mb-1">
          <div class="float-right">
            <div class="flex-center-y">
              <select class="float-right custom-select" (change)="filter()" [(ngModel)]="pageSize">
                <option *ngFor="let i of pageList" [value]="i">{{ 'select-pagesize-head' | translate }} {{i}} {{ 'select-pagesize-tail' | translate }}</option>
              </select>
            </div>
          </div>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap sorting" (click)="sort('TrackingNo')">{{ 'colShipmentTrackingNumber' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PickUpDateTime')">{{ 'colPickupDateTime' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('DriverEmployeeId')">{{ 'colDriverUpsEmpId' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('DriverNationId')">{{ 'colDriverNationalId' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('ShipperUPSAccNum')">{{ 'colShipperUPSAccNum' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PickUpAddress')">{{ 'colPickupAddr' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PostCode')">{{ 'colPostalCode' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PackageType')">{{ 'colPackageType' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PackageDescription')">{{ 'colPackageDescription' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('PackageQuantity')">{{ 'colPackageQuantity' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('ConsigneeMobileNumber')">{{ 'colConsigneeMobileNumber' | translate }}</th>
            <th scope="col" class="text-nowrap sorting" (click)="sort('MessageErrorDescription')">{{ 'colErrorMessage' | translate }}</th>
            <th scope="col" class="text-nowrap">{{ 'colAction' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let pickupShipment of pagedItems">
          <tr [style.background]="pickupShipment.StatusRow ? 'green' : 'red'">
            <td>{{pickupShipment.TrackingNo}}</td>
            <td>{{pickupShipment.PickUpDateTime}}</td>
            <td>{{pickupShipment.DriverEmployeeId}}</td>
            <td>{{pickupShipment.DriverNationId}}</td>
            <td>{{pickupShipment.ShipperUPSAccNum}}</td>
            <td>{{pickupShipment.PickUpAddress}}</td>
            <td>{{pickupShipment.PostCode}}</td>
            <td>{{pickupShipment.PackageType}}</td>
            <td>{{pickupShipment.PackageDescription}}</td>
            <td>{{pickupShipment.PackageQuantity}}</td>
            <td>{{pickupShipment.ConsigneeMobileNumber}}</td>
            <td>{{pickupShipment.MessageErrorDescription}}</td>
            <td>
              <div class="flex-center-x">
                <i class="fas fa-edit color-blue" (click)="editShipment(pickupShipment)"></i>
                <i class="fas fa-trash-alt color-black" (click)="removeShipment(pickupShipment)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer mt-2">
      <span class="float-left flex-center-y">{{ 'lb-show' | translate }} {{pager.startIndex + 1}} {{ 'lb-to' | translate }} {{pager.endIndex}} {{ 'lb-of' | translate }} {{pickupShipmentModels.length}} {{ 'lb-item' | translate }}</span>
      <div class="row">
        <div class="col-xs-12 col-12">
          <div class="float-right">
            <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" [totalItems]="pickupShipmentModels.length" [rotate]="rotate" [maxSize]="3" (pageChanged)="setPage($event.page)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="table-footer submit-profile" style="padding-top: 20px;">
      <div class="float-right row m-0">
        <button type="button" class="btn btn-outline-secondary w-150 mx-2 mb-3" (click)="cancel()">{{ 'btn-Cancel-Import' | translate }}</button>
        <button type="button" class="btn btn-primary w-150 mx-2 mb-3" (click)="downloadReport()">{{ 'btn-download-report' | translate }}</button>
        <button type="button" class="btn btn-primary w-150 mx-2 mb-3" [disabled]="!isValid" (click)="postDataValidProfile()">{{ 'btn-Import-Shipment' | translate }}</button>
      </div>
    </div>
  </div>
</div>