<ol class="breadcrumb">
  <li class="breadcrumb-item">EDI Transmission</li>
  <li class="breadcrumb-item active">EDI Message Batch List</li>
</ol>
<!-- begin page-header -->
<h1 class="page-header">EDI Message Batch List</h1>
<!-- end page-header -->
<div class="row m-0">
  <div class="form-group pr-3">
    <label>Batch Ref No.</label>
    <div class="form-md">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  <div class="form-group pr-3">
    <label>From</label>
    <div class="form-md form-calendar">
      <input type="text" class="form-control" placeholder="">
      <img alt="" src="../../../../assets/images/icon-calendar.svg">
    </div>
  </div>
  <div class="form-group pr-3">
    <label>To</label>
    <div class="form-md form-calendar">
      <input type="text" class="form-control" placeholder="">
      <img alt="" src="../../../../assets/images/icon-calendar.svg">
    </div>
  </div>
  <div class="d-flex align-items-end">
    <div class="form-group pr-3">
      <button type="button" class="btn btn-primary form-sm">Search</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-secondary form-sm">Reset</button>
    </div>
  </div>
</div>
<div class="panel mt-2">
  <div class="float-right mb-3">
    <div class="flex-center-y">
      <span>Show&nbsp;</span>
      <select class="form-ssm float-left custom-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <span>&nbsp;entries</span>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap sorting">Batch Ref No.</th>
          <th scope="col" class="text-nowrap sorting">Sent Time</th>
          <th scope="col" class="text-nowrap sorting">No. Acknowledgement EDI Messages</th>
          <th scope="col" class="text-nowrap sorting">No. Exception EDI Messages</th>
          <th scope="col" class="">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>201807272100</td>
          <td>2018/07/17 09:00:12</td>
          <td>11010</td>
          <td>3123</td>
          <td class="flex-center-x">
            <div>
              <a href="edi_edi-message-batch-list_detail.html">
                <i class="fas fa-eye color-blue"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>201807272100</td>
          <td>2018/07/17 09:00:12</td>
          <td>11010</td>
          <td>3123</td>
          <td class="flex-center-x">
            <div>
              <a href="edi_edi-message-batch-list_detail.html">
                <i class="fas fa-eye color-blue"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer">
      <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
      <nav class="float-right" aria-label="...">
        <ul class="pagination m-0">
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link">2
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>