<!-- begin breadcrumb -->
<div class="x-panel">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">{{'lb-shipment-management' | translate}}</li>
    <li class="breadcrumb-item active">{{'lb-shipment-list' | translate}}</li>
  </ol>
  <!-- end breadcrumb -->
  <div class="x-content">
    <!-- begin page-header -->
    <div class="x-title">
      <h1 class="page-header">{{'lb-shipment-list' | translate}}</h1>
    </div>
    <form class="row m-0" [formGroup]="formPickup">
      <div class="form-group pr-3">
        <label>{{'lb-tracking-no' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="TrackingNo" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-driver-id' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="DriverUPSEmpId" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-driver-nation-id' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="DriverNationalId" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-shiper-account' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="ShipperUPSAccNum" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-package-type' | translate}}</label>
        <div class="form-md">
          <select class="custom-select" formControlName="PackageType">
            <option value="" disabled [selected]="true">{{'drp-choose' | translate}}</option>
            <option value="Doc">Doc</option>
            <option value="Non-Doc">Non-Doc</option>
            <option value="Others">{{'drp-others' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-consignee-num' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="ConsigneePhoneNumber" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-from-date' | translate}} </label>
        <div class="form-md form-calendar">
          <input type="text" class="form-control" formControlName="From" *ngIf="!fromInput" (click)="fromInputValue(true)">
          <img alt="" src="../../../../assets/images/icon-calendar.svg">
          <angular2-date-picker class="form-md form-calendar" formControlName="From" *ngIf="fromInput" (click)="fromInputValue(true)"
            [(ngModel)]="formatDateFrom" [settings]="settingsFrom"></angular2-date-picker>
        </div>
      </div>
      <div class="form-group pr-3">
        <label> {{'lb-to-date' | translate}}</label>
        <div class="form-md form-calendar">
            <input type="text" class="form-control" formControlName="To" *ngIf="!toInput" (click)="toInputValue(true)">            
            <img alt="" src="../../../../assets/images/icon-calendar.svg">
            <angular2-date-picker class="form-md form-calendar" formControlName="To" *ngIf="toInput" (click)="toInputValue(true)"
              [(ngModel)]="formatDateTo" [settings]="settingsTo"></angular2-date-picker>
          </div>
      </div>
      <div class="d-flex align-items-end">
        <div class="form-group pr-3 ">
          <button type="button" class="btn btn-primary form-sm" (click)="searchItem()">{{'btn-search' | translate}}</button>
        </div>
        <div class="form-group pr-3">
          <button type="reset" class="btn btn-outline-secondary form-sm" value="Reset" (click)="resetSearch(true);">{{'btn-reset' | translate}}</button>
        </div>
      </div>
    </form>
    <div class="panel mt-2">
      <div class="">
        <div class="float-right mb-3">
          <div class="flex-center-y">
            <select class="form-ssm float-left custom-select" (change)="search()" [(ngModel)]="pageSize">
              <option *ngFor="let index of pageList" [value]=index.value>{{'lb-show-organization' | translate}} {{index.text}} {{'lb-entries' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap sorting" (click)="sort('TrackingNo')">{{'lb-tracking-no' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('PickUpDateTime')">{{'lb-date' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('DriverUPSEmpId')">{{'lb-driver-id' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('DriverNationId')">{{'lb-driver-nation-id' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('ShipperUPSAccNum')">{{'lb-shiper-account' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('PickupAddress')">{{'lb-pickup-address' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('PackageType')">{{'lb-package-type' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('PackageQuantity')">{{'lb-package-qty' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sort('ConsigneePhoneNumber')">{{'lb-consignee-num' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pickupShipment of listPickupShipment ">
              <td>{{pickupShipment.TrackingNo}}</td>
              <td>{{pickupShipment.PickUpDateTime | date:'yyyy/MM/dd hh:mm:ss'}}</td>
              <td>{{pickupShipment.DriverUPSEmpId}}</td>
              <td>{{pickupShipment.DriverNationId}}</td>
              <td>{{pickupShipment.ShipperUPSAccNum}}</td>
              <td>{{pickupShipment.PickupAddress}}</td>
              <td>{{pickupShipment.PackageType}}</td>
              <td>{{pickupShipment.PackageQuantity}}</td>
              <td>{{pickupShipment.ConsigneePhoneNumber}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="totalItems == 0">
          <h4>{{'lb-not-data' | translate}}</h4>
        </table>
        <div class="table-footer">
          <span class="float-left flex-center-y">{{'lb-showing' | translate}} {{itemFrom}} {{'lb-to' | translate}} {{itemTo}} {{'lb-of' | translate}} {{totalItems}} {{'lb-item'
            | translate}}</span>
          <div class="row">
            <div class="col-xs-12 col-12">
              <div class="float-right">
                <pagination [itemsPerPage]="pageSize" [totalItems]="totalItems" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;" [maxSize]="3" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>