<div class="x-panel">
  <div class="x-title">
    <h1 class="page-header">{{'lb-user-management' | translate}}</h1>
  </div>
  <div class="x-content">
    <!--Search From -->
    <form class="row m-0" [formGroup]="formUserSearch">
      <div class="form-group pr-3">
        <label>{{'lb-ADID' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="ADID" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-full-name' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="FullName" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-mail-address' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="EmailAddress" maxlength="255">
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-role' | translate}}</label>
        <div class="form-md">
          <select class="custom-select" formControlName="GroupUserId">
            <option value="" disabled [selected]="true">{{'drp-choose' | translate}}</option>
            <option *ngFor='let group of GroupUsers' value="{{group.GroupUserId}}">{{group.GroupName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-ups-facility' | translate}}</label>
        <div class="form-md">
          <input type="text" class="form-control" formControlName="Facility" maxlength="255">          
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-create-from' | translate}}</label>
        <div class="form-md form-calendar">
          <input type="text" class="form-control" formControlName="From" *ngIf="!fromInput" (click)="fromInputValue(true)">
          <img alt="" src="../../../../assets/images/icon-calendar.svg">
          <angular2-date-picker class="form-md form-calendar" formControlName="From" *ngIf="fromInput" (click)="fromInputValue(true)"
            [(ngModel)]="formatDateFrom" [settings]="settingsFrom"></angular2-date-picker>
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-to-date' | translate}}</label>
        <div class="form-md form-calendar">
          <input type="text" class="form-control" formControlName="To" *ngIf="!toInput" (click)="toInputValue(true)">
          <img alt="" src="../../../../assets/images/icon-calendar.svg">
          <angular2-date-picker class="form-md form-calendar" formControlName="To" *ngIf="toInput" (click)="toInputValue(true)" [(ngModel)]="formatDateTo"
            [settings]="settingsTo"></angular2-date-picker>
        </div>
      </div>
      <div class="form-group pr-3">
        <label>{{'lb-status' | translate}}</label>
        <div class="form-md">
          <select class="custom-select placeholder" formControlName="Status">
            <option value="null" disabled [selected]="true">{{'drp-choose' | translate}}</option>
            <option value="True">{{'lb-active' | translate}}</option>
            <option value="False">{{'lb-inactive' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex align-items-end">
        <div class="form-group pr-3 ">
          <button type="button" class="btn btn-primary form-sm" (click)="searchItem()">{{'btn-search' | translate}}</button>
        </div>
        <div class="form-group pr-3">
          <button type="reset" class="btn btn-outline-secondary form-sm" value="Reset" (click)="resetSearch()">{{'btn-reset' | translate}}</button>
        </div>
      </div>
    </form>
    <!--/End Search From -->
    <div class="panel mt-4">
      <div class="">
        <div class="float-left row m-0">
          <div class="form-group pr-3">
            <button type="button" class="btn btn-primary" (click)="showAddModal();">{{'btn-create-new' | translate}}</button>
          </div>
          <div class="form-group pr-3">
            <button type="button" class="btn btn-outline-danger" (click)="deleteMultiple()">{{'btn-delete' | translate}}</button>
          </div>
        </div>
        <div class="float-right mb-3">
          <div class="flex-center-y">
            <select class="form-ssm float-left custom-select" [(ngModel)]="pageSize" (change)="pageChangeSize($event)">
              <option *ngFor="let index of pageList" [value]=index.value>{{'lb-show-organization' | translate}} {{index.text}} {{'lb-entries' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <!--Table List View -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">
                <div class="Checkbox">
                  <input type="checkbox" (change)="selectAll($event.target.checked)" />
                  <div class="Checkbox-visible"></div>
                </div>
              </th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('ADID')">{{'lb-ADID' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('FullName')">{{'lb-full-name' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('EmailAddress')">{{'lb-mail-address' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('GroupName')">{{'lb-role' | translate}}</th>
              <th scope="col" class="text-nowrap ">{{'lb-ups-facility' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('CreateTime')">{{'lb-create-date' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('LastLoggedIn')">{{'lb-last-logged' | translate}}</th>
              <th scope="col" class="text-nowrap sorting" (click)="sortItem('Status')">{{'lb-status' | translate}}</th>
              <th scope="col" class="">{{'lb-action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">
              <th scope="row">
                <div class="Checkbox">
                  <input type="checkbox" [(ngModel)]="user.IsSelected">
                  <div class="Checkbox-visible"></div>
                </div>
              </th>
              <td>{{user.ADID}}</td>
              <td>{{user.FullName}}</td>
              <td>{{user.EmailAddress}}</td>
              <td>{{user.GroupName}}</td>
              <td>{{user.Facility | facility}}</td>
              <td>{{user.CreateTime| date:'yyyy/MM/dd'}}</td>
              <td>{{user.LastLoggedIn| date:'yyyy/MM/dd HH:mm:ss'}}</td>
              <!--Display when change status record -->
              <td>
                <div class="flex-center-x" *ngIf="user.Status">
                  <span class="badge badge-pill badge-success w-80">{{'lb-active' | translate}}</span>
                </div>
                <div class="flex-center-x" *ngIf="!user.Status">
                  <span class="badge badge-pill badge-secondary w-80">{{'lb-inactive' | translate}}</span>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-around" *ngIf="user.Status">
                  <i class="fas fa-times-circle color-red" (click)="statusUser(user.UserId, user.Status)"></i>
                  <i class="fas fa-edit color-blue" (click)="showEditModal(user.UserId)"></i>
                  <i class="fas fa-trash-alt color-red" (click)="deleteItem(user.UserId)"></i>
                </div>
                <div class="d-flex justify-content-around" *ngIf="!user.Status">
                  <i class="fas fa-check-circle color-green" (click)="statusUser(user.UserId, user.Status)"></i>
                  <i class="fas fa-edit color-blue" (click)="showEditModal(user.UserId)"></i>
                  <i class="fas fa-trash-alt color-red" (click)="deleteItem(user.UserId)"></i>
                </div>
              </td>
              <!--/End Display when change status record -->
            </tr>
          </tbody>
        </table>
        <!--/End Table List View -->
        <!--Display when not data /-->
        <table class="table table-striped table-bordered" *ngIf="totalItems == 0">
          <h4>{{'lb-not-data' | translate}}</h4>
        </table>
        <!--Paging -->
        <div class="table-footer">
          <span class="float-left flex-center-y">{{'lb-showing' | translate}} {{itemFrom}} {{'lb-to' | translate}} {{itemTo}} {{'lb-of' | translate}} {{totalItems}} {{'lb-item'
            | translate}}</span>
          <div class="row">
            <div class="col-xs-12 col-12">
              <div class="float-right">
                <pagination [itemsPerPage]="pageSize" [(ngModel)]="pageNumber" [totalItems]="totalItems" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;" [maxSize]="3" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/End Paging -->
<!--Create Modal -->
<div bsModal #modalAdd="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="form-horizontal form-label-left">
    <div class="modal-dialog" role="document">
      <form #myForm="ngForm" class="form-horizontal form-label-left" novalidate [formGroup]="formUser" (ngSubmit)="saveAdd()">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{'lb-create-profile' | translate}}</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" (click)="resetForm();" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-ADID' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="ADID" autocomplete="off" maxlength="7"
                  [ngClass]="{ 'is-invalid': submitted && e.ADID.errors }"/>
                <div *ngIf="submitted && e.ADID.errors" class="invalid-feedback">
                  <div *ngIf="e.ADID.errors.required">{{'msg-adid-required' | translate}}</div>
                  <div *ngIf="e.ADID.errors.maxlength">{{'msg-adid-maxlength' | translate}}</div>
                  <div *ngIf="e.ADID.errors.pattern">{{'msg-adid-special' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-full-name' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="FullName" autocomplete="off" maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && e.FullName.errors }"/>
                <div *ngIf="submitted && e.FullName.errors" class="invalid-feedback">
                  <div *ngIf="e.FullName.errors.required">{{'msg-fullname-required' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-mail-address' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="EmailAddress" autocomplete="off" maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && e.EmailAddress.errors }"/>
                <div *ngIf="submitted && e.EmailAddress.errors" class="invalid-feedback">
                  <div *ngIf="e.EmailAddress.errors.required">{{'msg-email-required' | translate}}</div>
                  <div *ngIf="e.EmailAddress.errors.email">{{'msg-email-wrong' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-role' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <select class="custom-select" formControlName="GroupUserId" autocomplete="off">
                  <option value="null" disabled [selected]="true">{{'drp-choose' | translate}}</option>
                  <option *ngFor='let group of GroupUsers' value="{{group.GroupUserId}}">{{group.GroupName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <label class="col-form-label">{{'lb-ups-facility' | translate}}</label>
                <div form-xl>
                  <label class="label-facility">{{'lb-available' | translate}}</label>
                  <label class="label-facility-2">{{'lb-assigned' | translate}}
                    <span class="mandatory-required"> *</span>
                  </label>
                  <div class="form-facility" [formGroup]="formUser">
                    <ng2-dual-list-box [data]="Facilities" valueField="UPSFacilityId" textField="UPSFacilitySLIC" formControlName="Selected"
                      availableText="" selectedText="" availableFilterPlaceholder=""
                      selectedFilterPlaceholder="">
                    </ng2-dual-list-box>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary form-sm" (click)="resetForm();">{{'btn-cancel' | translate}}</button>
            <button type="submit" class="btn btn-primary form-sm">{{'btn-save' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/End Create Modal -->
<!--Edit Modal -->
<div bsModal #modalEdit="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="form-horizontal form-label-left">
    <div class="modal-dialog" role="document">
      <form class="form-horizontal form-label-left" novalidate [formGroup]="formUser" (ngSubmit)="saveEdit()">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{'lb-edit-profile' | translate}}</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" (click)="resetForm();" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-ADID' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="ADID" disabled autocomplete="off" />
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-full-name' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="FullName" autocomplete="off" maxlength="255" [ngClass]="{ 'is-invalid': submitted && e.FullName.errors }"
                />
                <div *ngIf="submitted && e.FullName.errors" class="invalid-feedback">
                  <div *ngIf="e.FullName.errors.required">{{'msg-fullname-required' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-mail-address' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <input type="text" class="form-control" formControlName="EmailAddress" autocomplete="off" maxlength="255" [ngClass]="{ 'is-invalid': submitted && e.EmailAddress.errors }"
                />
                <div *ngIf="submitted && e.EmailAddress.errors" class="invalid-feedback">
                  <div *ngIf="e.EmailAddress.errors.required">{{'msg-email-required' | translate}}</div>
                  <div *ngIf="e.EmailAddress.errors.email">{{'msg-email-wrong' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-role' | translate}}
                <span class="mandatory-required"> *</span>
              </label>
              <div class="form-xl">
                <select class="custom-select" formControlName="GroupUserId" autocomplete="off">
                  <option *ngFor='let group of GroupUsers' value="{{group.GroupUserId}}">{{group.GroupName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <label class="col-form-label">{{'lb-ups-facility' | translate}}</label>
              <div form-xl>
                <label class="label-facility">{{'lb-available' | translate}}</label>
                <label class="label-facility-2">{{'lb-assigned' | translate}}
                  <span class="mandatory-required"> *</span>
                </label>
                <div class="form-facility" [formGroup]="formUser">
                  <ng2-dual-list-box [data]="Facilities" valueField="UPSFacilityId" textField="UPSFacilitySLIC" formControlName="Selected"
                    availableText="" selectedText="" availableFilterPlaceholder=""
                    selectedFilterPlaceholder="">
                  </ng2-dual-list-box>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary form-sm" (click)="resetForm();">{{'btn-cancel' | translate}}</button>
              <button type="submit" class="btn btn-primary form-sm" >{{'btn-save' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/End Edit Modal -->