input:read-only {
    background-color: white;
}
.form-calendar img {
	position: absolute;
	top: 6px;
	right: 8px;
	height: 20px;
}
.form-calendar {
	position: relative;
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-facility{
    width: 310px;      
}
.label-facility{
    width: 50%;
    font-size: 14px;
    padding-left: 30px;
}
.mandatory-required{
    color: red;
    font-size: 15px;
}