<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <app-header id="header" class="header d-flex justify-content-between"></app-header>
    <!-- end #header -->
    <!-- begin #sidebar -->
    <app-leftmenu id="sidebar" class="sidebar"></app-leftmenu>
    <!-- end #sidebar -->
    <!-- begin #content -->
    <div id="content" class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- end content -->
  </div>