<!-- begin #content -->

  <!-- begin breadcrumb -->
  <!-- end breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">EDI Transmission</li>
    <li class="breadcrumb-item active">Exception Alerts</li>
  </ol>
  <!-- begin page-header -->
  <h1 class="page-header">Exception Alerts</h1>
  <!-- end page-header -->
  <div class="panel mt-2">
    <div class="float-right mb-3">
      <div class="flex-center-y">
        <span>Show&nbsp;</span>
        <select class="form-ssm float-left custom-select">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        <span>&nbsp;entries</span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-nowrap sorting">Notification</th>
            <th scope="col" class="text-nowrap sorting">Sent Time</th>
            <th scope="col" class="text-nowrap sorting">Alert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Batch 2015721822</td>
            <td>2018/08/08 15:05:03</td>
            <td>Transmission Error</td>
          </tr>
          <tr>
            <td>Batch 2015721822</td>
            <td>2018/08/08 15:05:03</td>
            <td>Transmission Error</td>
          </tr>
          <tr>
            <td>Batch 2015721822</td>
            <td>2018/08/08 15:05:03</td>
            <td>Transmission Error</td>
          </tr>
          <tr>
            <td>Batch 2015721822</td>
            <td>2018/08/08 15:05:03</td>
            <td>Transmission Error</td>
          </tr>
          <tr>
            <td>Batch 2015721822</td>
            <td>2018/08/08 15:05:03</td>
            <td>Transmission Error</td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer">
        <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
        <nav class="float-right" aria-label="...">
          <ul class="pagination m-0">
            <li class="page-item disabled">
              <a class="page-link">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link">2
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

