<div class="row m-0">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">{{'lb-master-data' | translate}}</li>
    <li class="breadcrumb-item active">{{'lb-county-list' | translate}}</li>
</ol>
<h1 class="page-header">{{'lb-county-list' | translate}}</h1>
<div class="row m-0">
    <div class="form-group pr-md-5">
        <label>{{'lb-county-code' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtCode" #code="ngModel" [(ngModel)]="condition.CountyCode"
                maxlength="255" />
        </div>
    </div>
    <div class="form-group pr-md-5">
        <label>{{'lb-Province-Name' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtName" #provinceName="ngModel" [(ngModel)]="searchProvince.ProvinceName"
                maxlength="255" />
        </div>
    </div>
    <div class="form-group pr-md-5">
        <label>{{'lb-city-name-city' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtName" #cityName="ngModel" [(ngModel)]="searchCityName.CityName"
                maxlength="255" />
        </div>
    </div>
    <div class="form-group pr-md-5">
        <label>{{'lb-county-name' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" placeholder="" name="txtName" #name="ngModel" [(ngModel)]="condition.CountyName"
                maxlength="255" />
        </div>
    </div>
    <div class="d-flex align-items-end">
        <div class="form-group pr-3">
            <button type="button" class="btn btn-primary form-sm" (click)="searchCityName.CityName=cityName.value;searchProvince.ProvinceName=provinceName.value;searchCondition.CountyCode=code.value;searchCondition.CountyName=name.value;searchCounty(1);">{{'bnt-county-search'|translate}}
            </button>
        </div>
        <div class="form-group pr-2">
            <button type="button" class="btn btn-outline-secondary form-sm" (click)="searchCityName.CityName = '';searchProvince.ProvinceName='';searchCondition.CountyCode=searchCondition.CountyName=condition.CountyCode=condition.CountyName='';resetSearch(1)">{{'bnt-county-reset'
                | translate}} </button>
        </div>
    </div>
</div>
<div class="panel mt-4">
    <div class="">
        <div class="float-left row m-0">
            <div class="form-group pr-3">
                <button type="button" class="btn btn-primary" (click)="showFormCreate()">{{'bnt-county-create' |
                    translate}}</button>
            </div>
            <div class="form-group pr-3">
                <button type="button" class="btn btn-outline-danger" (click)="deleteMultipleItemCounty()">{{'bnt-county-delete'
                    |
                    translate}}</button>
            </div>
        </div>
        <div class="float-right mb-3">
            <div class="flex-center-y">
                <select class="form-md float-left custom-select" (change)="resetSearch(1)" [(ngModel)]="pageSize">
                    <option *ngFor="let i of pageList" [value]=i.value>{{'lb-city-display'|translate}} {{i.text}}
                        {{'lb-city-items'|translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="Checkbox">
                            <input type="checkbox" (change)="selectAll($event.target.checked)" />
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortcolumnName('CountyCode')">{{'lb-county-code'|translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortcolumnName('ProvinceName')">{{'lb-Province-Name'
                        | translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortcolumnName('CityName')">{{'lb-city-name' |
                        translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sortcolumnName('CountyName')">{{'lb-county-name'
                        | translate}}</th>
                    <th scope="col" class="">{{'lb-county-action' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let county of counties">
                    <th scope="row">
                        <div class="Checkbox">
                            <input type="checkbox" [(ngModel)]="county.IsSelected">
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <td>{{county.CountyCode}}</td>
                    <td>{{county.ProvinceName}}</td>
                    <td>{{county.CityName}}</td>
                    <td>{{county.CountyName}}</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <i class="fas fa-edit color-blue" (click)="showFormEdit(county)"></i>
                            <i class="fas fa-trash-alt color-red" (click)="deleteItemCounty(county)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="totalItems == 0">
            <h4>{{'lb-not-data' | translate}}</h4>
        </table>
        <div class="table-footer">
            <span class="float-left flex-center-y">{{'lb-county-Showing'|translate}}&nbsp;{{showPageForm}}{{'lb-county-to'|translate}}&nbsp;{{showPageTo}}&nbsp;{{'lb-county-of'|
                translate}}&nbsp;{{totalItems}}&nbsp;{{'lb-county-Items' | translate}}</span>
            <div class="row">
                <div class="col-xs-12 col-12">
                    <div class="float-right">
                        <pagination [boundaryLinks]="true"  [(ngModel)]="pageNumber" [itemsPerPage]="pageSize" [totalItems]="totalItems" [rotate]="rotate"
                            [maxSize]="3" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>