<div class="flex-middle container-login ">
  <div class="login">
    <div class="w-420">
      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h5 class="mb-0 text-center">{{'lb-login' | translate}}</h5>
        </div>
        <div class="card-body">
          <form action="user-management.html" class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
            <div class="form-group">
              <label>{{'lb-username' | translate}}</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="{{'lb-username' | translate}}">
              <!-- <div class="invalid-feedback">Oops, you missed this one.</div> -->
            </div>
            <div class="form-group">
              <label>{{'lb-password' | translate}}</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password" autocomplete="new-password" placeholder="{{'lb-password' | translate}}">
              <!-- <div class="invalid-feedback">Enter your password too!</div> -->
            </div>
            <div class="row m-0">
                <div class="Checkbox">
                  <input type="checkbox" checked/>
                  <div class="Checkbox-visible"></div>
                </div>
                <span class="font-weight-bold">{{'cb-remember-login' | translate}}</span>
            </div>
            <button type="submit" class="btn btn-primary form-control"  [disabled]="username == null || password == null" id="btnLogin" (click)="login()">{{'btn-login' | translate}}</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
    <!--/container-->
  </div>
</div>