<!-- begin breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Driver Managerment</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{'lb-Driver-Profile-List' | translate}}</h1>
<form class="row m-0" [formGroup]="formSearch">
  <div class="form-group d-flex justify-content-between">
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Name' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="Name" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Employee-ID' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="UPSEmpId" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-National-ID' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="NationId" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Type' | translate}}</label>
      <div class="form-md">
        <select class="custom-select" formControlName="Type">
          <option value="" disabled selected>{{'drp-choose' | translate}}</option>
          <option value="Brown">Brown</option>
          <option value="OGP">OGP</option>
          <option value="Agent">Agent</option> 
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Status' | translate}}</label>
      <div class="form-md">
        <select class="custom-select" formControlName="Status">
          <option value="" disabled selected>{{'drp-choose' | translate}}</option>
          <option value="1">Active</option>
          <option value="0">Resigned</option>
        </select>
      </div>
    </div>
  </div>
  <div class="pr-12 d-flex justify-content-between">
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Center-Name' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="UPSFacility" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Center-SLIC' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="SLIC" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Mobile-Number' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="PhoneNumber" maxlength="255"/>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-Driver-Company' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" formControlName="Company" maxlength="255"/>
      </div>
    </div>
    <div class="d-flex align-items-end">
      <div class="form-group pr-2 ">
        <button type="button" class="btn btn-primary px-5" (click)="search()">
          {{'btn-search' | translate}}</button>
      </div>
      <div class="form-group pr-2">
        <button type="reset" class="btn btn-outline-secondary px-5"
         value="Reset" (click)="resetSearch();">
          {{'btn-reset' | translate}}</button>
      </div>
    </div>
  </div>
</form>
<div class="panel mt-4">
  <div class="">
    <div class="float-left row m-0">
      <div class="form-group pr-3">
        <button type="button" class="btn btn-primary" (click)="showAddModal();">{{'lb-Create-New-Driver-Profile'|
          translate}}</button>
      </div>
    </div>
    <div class="float-right mb-3">
      <div class="flex-center-y">
        <select class="form-ssm float-left custom-select" [(ngModel)]="pageSize" (change)="onPageSizeChange($event.target.value)">
          <option *ngFor="let i of pageList" [value]=i.value>{{'lb-show-driver' | translate}} {{i.text}}
            {{'lb-items-driver' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverUPSEmpId')">{{'lb-Employee-ID' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverNationId')">{{'lb-National-ID' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverName')">{{'lb-Driver-Name' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverType')">{{'lb-Driver-Type' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverPhoneNumber')">{{'lb-Mobile-Number' |
            translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverStatus')">{{'lb-Driver-Status' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('UPSFacilityName')">{{'lb-Driver-Center-Name' |
            translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('UPSFacilitySLIC')">{{'lb-Driver-Center-SLIC' |
            translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('DriverCompany')">{{'lb-Driver-Company' |
            translate}}</th>
          <th scope="col" class="">{{'lb-Action'| translate}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of drivers">
          <td>{{driver.DriverUPSEmpId}}</td>
          <td>{{driver.DriverNationId}}</td>
          <td>{{driver.DriverName}}</td>
          <td>{{driver.DriverType}}</td>
          <td>{{driver.DriverPhoneNumber | uppercase }}</td>
          <td>
            <div *ngIf="driver.DriverStatus == 1 ; else elseBlock" class="flex-center-x">
              <span class="badge badge-pill badge-success ">Active</span>
            </div>
            <ng-template #elseBlock>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-secondary">Resigned</span>
              </div>
            </ng-template>
          </td>
          <td>
            {{driver.UPSFacilityName}}
          </td>
          <td>
            {{driver.UPSFacilitySLIC}}
          </td>
          <td>
            {{driver.DriverCompany}}
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <div *ngIf="driver.DriverStatus == 1 ; else elseIcon">
                <i (click)="statusDriver(driver)" class="fas fa-times-circle color-red"></i>
              </div>
              <ng-template #elseIcon>
                <i (click)="statusDriver(driver)" class="fas fa-check-circle color-green"></i>
              </ng-template>
              <i (click)="showEditModal(driver.DriverId)" class="fas fa-edit color-blue" data-toggle="modal"
                data-target="#editModal"></i>
            </div>
          </td>
        <tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered" *ngIf="totalItems == 0">
      <h4>{{'lb-not-data' | translate}}</h4>
    </table>
    <!-- pagination -->
    <div class="table-footer">
      <span class="float-left flex-center-y">
        {{'lb-Showing'| translate}}
        {{itemFrom}} 
        {{'lb-to'| translate}}
        {{itemTo}}  
        {{'lb-of'| translate}} 
        {{totalItems }}
        {{'lb-items-driver' | translate}}
        <!-- {{pageNumber}} to {{pageSize}} of {{totalItems}} Items -->
      </span>
      <nav class="float-right" aria-label="...">
        <div class="col-xs-12 col-12">
          <pagination [itemsPerPage]="pageSize" [(ngModel)]="pageNumber" [totalItems]="totalItems" [boundaryLinks]="true"
            previousText="&lsaquo;"  nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="3"
            (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </nav>
    </div>
  </div>

</div>
<!--Create Modal -->
<div bsModal #modalAdd="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" id="modalAdd">
  <div class="modal-dialog mw-550" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" novalidate [formGroup]="formDriver">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">
            {{'lb-Create-New-Driver-Profile' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="resetForm();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="group-title"> {{'lb-Driver\'s-Information' | translate}}</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Employee-ID' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="DriverUPSEmpId"
              [ngClass]="{ 'is-invalid': submitted && f.DriverUPSEmpId.errors}"
                autocomplete="off">
              <div *ngIf="submitted && f.DriverUPSEmpId.errors" class="invalid-feedback">
                <div *ngIf="f.DriverUPSEmpId.errors.required" [style.color]="'Red'"> Driver Employee Id is Required.</div>
                <div *ngIf="f.DriverUPSEmpId.errors.maxlength">Driver UPS Employee ID no more than 30 digits</div> 
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-National-ID-Type' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"
               formControlName="DriverNationIdType" disabled autocomplete="off">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> 
              {{'lb-National-ID-Number' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" 
              formControlName="DriverNationId" 
              [ngClass]="{ 'is-invalid': submitted && f.DriverNationId.errors}" 
              autocomplete="off">
              <div *ngIf="submitted && f.DriverNationId.errors" class="invalid-feedback">
                <div *ngIf="f.DriverNationId.errors.required" [style.color]="'Red'"> Driver National Id is Required.</div>
                <div *ngIf="f.DriverNationId.errors.maxlength">Driver National ID no more than 30 digits</div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required">{{'lb-Driver-Name' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="DriverName" [ngClass]="{ 'is-invalid': submitted && f.DriverName.errors}"
                autocomplete="off">
              <div *ngIf="submitted && f.DriverName.errors" class="invalid-feedback">
                <div *ngIf="f.DriverName.errors.required" [style.color]="'Red'"> Driver Name is Required.</div>
                <div *ngIf="f.DriverName.errors.maxlength">Driver Name no more than 32 digits</div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Mobile-Number' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"  
                formControlName="DriverPhoneNumber"
                [ngClass]="{ 'is-invalid': submitted && f.DriverPhoneNumber.errors}"
                 autocomplete="off">
              <div *ngIf="submitted && f.DriverPhoneNumber.errors" 
              class="invalid-feedback">
                <div *ngIf="f.DriverPhoneNumber.errors.required"
                 [style.color]="'Red'"> Driver Mobile Number is
                  Required.</div>
                  <div *ngIf="f.DriverPhoneNumber.errors.maxlength">
                    Driver Mobile Number no more than 32 digits</div> 
                    <div *ngIf="f.DriverPhoneNumber.errors.pattern">
                        Driver Mobile Number is not a number</div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Type' | translate}}</label>
            <div class="form-xl">
              <select class="custom-select" formControlName="DriverType" [ngClass]="{ 'is-invalid': submitted && f.DriverType.errors}">
                <option value="Brown">Brown</option>
                <option value="OGP">OGP</option>
                <option value="Agent">Agent</option>
              </select>
              <div *ngIf="submitted && f.DriverType.errors" class="invalid-feedback">
                <div *ngIf="f.DriverType.errors.required" [style.color]="'Red'">
                  Driver Type is Required.</div> 
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Driver-Company' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"  
              formControlName="DriverCompany" 
              [ngClass]="{ 'is-invalid': submitted && f.DriverCompany.errors}"
              autocomplete="off">
              <div *ngIf="submitted && f.DriverCompany.errors" class="invalid-feedback"> 
                    <div *ngIf="f.DriverCompany.errors.maxlength">
                        Driver Company no more than 30 digits</div>
                </div>
              </div>
          </div>
          <hr>
          <label class="group-title"> {{'lb-Driver-Center-Information' | translate}}</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-Name' | translate}}</label>
            <div class="form-xl">
              <input formControlName="UPSFacilityName" 
              [typeahead]="upsFacilitys" [typeaheadOptionsLimit]="5"
                [typeaheadMinLength]="0" typeaheadOptionField="UPSFacilityName"
                (blur)="onChangeUPSFacility($event)"
                 (typeaheadOnSelect)="onSelectDriverUpdateDropdownValue('UPSFacilityId',$event)"
                 [ngClass]="{ 'is-invalid': submitted && f.UPSFacilityName.errors}"
                 class="form-control">
                <div *ngIf="submitted && f.UPSFacilityName.errors"
                 class="invalid-feedback">
                    <div *ngIf="f.UPSFacilityName.errors.required"
                     [style.color]="'Red'"> UPS Facility Name is
                      Required.</div>
                      <div *ngIf="f.UPSFacilityName.errors.maxlength">
                          UPS Facility Name no more than 255 digits</div>
                  </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-SLIC' | translate}}</label>
            <div class="form-xl">  
              <input formControlName="UPSFacilitySLIC"  
              [typeahead]="upsFacilitys"
              [typeaheadOptionsLimit]="5"
              [typeaheadMinLength]="0"
              typeaheadOptionField="UPSFacilitySLIC" 
              (typeaheadOnSelect)="onSelectDriverUpdateDropdownValue('UPSFacilityId',$event)" 
              [ngClass]="{ 'is-invalid': submitted && f.UPSFacilitySLIC.errors}"
                class="form-control">
              <div *ngIf="submitted && f.UPSFacilitySLIC.errors" class="invalid-feedback"> 
                    <div *ngIf="f.UPSFacilitySLIC.errors.maxlength" [style.color]="'Red'">
                        UPS Facility SLIC no more than 255 digits</div>
                        <div *ngIf="f.UPSFacilitySLIC.errors.required"
                     [style.color]="'Red'"> UPS Facility SLIC is
                      Required.</div>
                </div>  
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-Address-Street' | translate}}</label>
            <div class="form-xl">
              <textarea class="form-control" formControlName="Street" disabled rows="3"></textarea>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Postal-Code' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"
               formControlName="PostalCode" disabled autocomplete="off">
            </div>
          </div>
          <hr>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Device-ID' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"  
              formControlName="DeviceId"
              [ngClass]="{ 'is-invalid': submitted && f.DeviceId.errors}"
               autocomplete="off">
              <div *ngIf="submitted && f.DeviceId.errors" class="invalid-feedback"> 
                    <div *ngIf="f.DeviceId.errors.maxlength" [style.color]="'Red'">
                        Device Id no more than 255 digits</div>
                        <div *ngIf="f.DeviceId.errors.pattern">
                            Device Id no space, no special character</div>
                </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Remarks' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"  
              formControlName="Remarks" 
              [ngClass]="{ 'is-invalid': submitted && f.Remarks.errors}"
              autocomplete="off">
              <div *ngIf="submitted && f.Remarks.errors" class="invalid-feedback"> 
                    <div *ngIf="f.Remarks.errors.maxlength" [style.color]="'Red'">
                        Remarks no more than 255 digits</div>
                        <div *ngIf="f.Remarks.errors.pattern">
                            Remarks no space, no special character </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetForm();" data-dismiss="modal" class="btn btn-outline-secondary form-sm">{{'btn-cancel-driver'
            | translate}}</button>
          <button type="submit" class="btn btn-primary form-sm" (click)="createDriver();">{{'btn-save-driver'
            | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end Create Modal -->
<!--Edit Modal -->

<div bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" r ole="dialog" aria-labelledby="createModalLabel"
  id="modalEdit" aria-labelledby="editModalLabel">
  <div class="modal-dialog mw-550" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" novalidate [formGroup]="formDriver">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">
            Edit Driver Profile</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="resetEditForm();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="group-title"> {{'lb-Driver\'s-Information' | translate}}</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Employee-ID' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="DriverUPSEmpId" 
              [ngClass]="{ 'is-invalid': submitted && f.DriverUPSEmpId.errors}"
                autocomplete="off">
                <div *ngIf="submitted && f.DriverUPSEmpId.errors" class="invalid-feedback">
                    <div *ngIf="f.DriverUPSEmpId.errors.required" [style.color]="'Red'"> Driver Employee Id is Required.</div>
                    <div *ngIf="f.DriverUPSEmpId.errors.maxlength">Driver UPS Employee ID no more than 30 digits</div> 
                  </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-National-ID-Type' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="DriverNationIdType" disabled autocomplete="off">
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-National-ID-Number' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" 
              formControlName="DriverNationId" 
              [ngClass]="{ 'is-invalid': submitted && f.DriverNationId.errors}"
              autocomplete="off">
                <div *ngIf="submitted && f.DriverNationId.errors" class="invalid-feedback">
                    <div *ngIf="f.DriverNationId.errors.required" [style.color]="'Red'"> Driver National Id is Required.</div>
                    <div *ngIf="f.DriverNationId.errors.maxlength">Driver National ID no more than 30 digits</div>
                  </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required">{{'lb-Driver-Name' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" 
              formControlName="DriverName" 
              [ngClass]="{ 'is-invalid': submitted && f.DriverName.errors}"
                autocomplete="off">
                <div *ngIf="submitted && f.DriverName.errors" class="invalid-feedback">
                    <div *ngIf="f.DriverName.errors.required" [style.color]="'Red'"> Driver Name is Required.</div>
                    <div *ngIf="f.DriverName.errors.maxlength">Driver Name no more than 32 digits</div>
                  </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Mobile-Number' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"   
                formControlName="DriverPhoneNumber"
                [ngClass]="{ 'is-invalid': submitted && f.DriverPhoneNumber.errors}"
                 autocomplete="off">
                <div *ngIf="submitted && f.DriverPhoneNumber.errors" 
                class="invalid-feedback">
                    <div *ngIf="f.DriverPhoneNumber.errors.required"
                     [style.color]="'Red'"> Driver Mobile Number is
                      Required.</div>
                      <div *ngIf="f.DriverPhoneNumber.errors.maxlength">
                        Driver Mobile Number no more than 32 digits</div> 
                        <div *ngIf="f.DriverPhoneNumber.errors.pattern">
                            Driver Mobile Number is not a number</div>
                  </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Type' | translate}}</label>
            <div class="form-xl">
              <select class="custom-select" formControlName="DriverType" [ngClass]="{ 'is-invalid': submitted && f.DriverType.errors}">
                <option value="Brown">Brown</option>
                <option value="OGP">OGP</option>
                <option value="Agent">Agent</option>
              </select>
              <div *ngIf="submitted && f.DriverType.errors" class="invalid-feedback">
                <div *ngIf="f.DriverType.errors.required" [style.color]="'Red'">
                  Driver Type is Required.</div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Driver-Company' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control"
               formControlName="DriverCompany" 
               [ngClass]="{ 'is-invalid': submitted && f.DriverCompany.errors}"
               autocomplete="off">
              <div *ngIf="submitted && f.DriverCompany.errors" class="invalid-feedback"> 
                  <div *ngIf="f.DriverCompany.errors.maxlength">
                      Driver Company no more than 30 digits</div>
              </div>
            </div>
          </div>
          <hr>
          <label class="group-title"> {{'lb-Driver-Center-Information' | translate}}</label>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-Name' | translate}}</label>
            <div class="form-xl">
              <input formControlName="UPSFacilityName" [typeahead]="upsFacilitys"
               [typeaheadOptionsLimit]="5"  (blur)="onChangeUPSFacility($event)"
                [typeaheadMinLength]="0" typeaheadOptionField="UPSFacilityName" 
                (typeaheadOnSelect)="onSelectDriverUpdateDropdownValue('UPSFacilityId',$event)"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.UPSFacilityName.errors}"
                >
                <div *ngIf="submitted && f.UPSFacilityName.errors" class="invalid-feedback">
                    <div *ngIf="f.UPSFacilityName.errors.required"
                     [style.color]="'Red'"> UPS Facility Name is
                      Required.</div>
                      <div *ngIf="f.UPSFacilityName.errors.maxlength">
                          UPS Facility Name no more than 255 digits</div>
                </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-SLIC' | translate}}</label>
            <div class="form-xl"> 
              <input formControlName="UPSFacilitySLIC" 
              [typeahead]="upsFacilitys" 
              [typeaheadOptionsLimit]="5"
              [typeaheadMinLength]="0"   
              typeaheadOptionField="UPSFacilitySLIC"
              (typeaheadOnSelect)="onSelectDriverUpdateDropdownValue('UPSFacilityId',$event)"
              [ngClass]="{ 'is-invalid': submitted && f.UPSFacilitySLIC.errors}"
              class="form-control">
              <div *ngIf="submitted && f.UPSFacilitySLIC.errors" class="invalid-feedback"> 
                    <div *ngIf="f.UPSFacilitySLIC.errors.maxlength" [style.color]="'Red'">
                        UPS Facility SLIC no more than 255 digits</div>
                        <div *ngIf="f.UPSFacilitySLIC.errors.required"
                        [style.color]="'Red'"> UPS Facility SLIC is
                         Required.</div>
                </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Driver-Center-Address-Street' | translate}}</label>
            <div class="form-xl">
              <textarea class="form-control" formControlName="Street" disabled rows="3"></textarea>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label cnpis-label-required"> {{'lb-Postal-Code' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" formControlName="PostalCode"
               disabled autocomplete="off">
            </div>
          </div>
          <hr>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Device-ID' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" 
              formControlName="DeviceId" 
              [ngClass]="{ 'is-invalid': submitted && f.DeviceId.errors}"
              autocomplete="off">
              <div *ngIf="submitted && f.DeviceId.errors" class="invalid-feedback"> 
                  <div *ngIf="f.DeviceId.errors.maxlength" [style.color]="'Red'">
                      Device Id no more than 255 digits</div>
                      <div *ngIf="f.DeviceId.errors.pattern">
                          Device Id no space, no special character</div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <label class="col-form-label"> {{'lb-Remarks' | translate}}</label>
            <div class="form-xl">
              <input type="text" class="form-control" 
               formControlName="Remarks"
               [ngClass]="{ 'is-invalid': submitted && f.Remarks.errors}"
                autocomplete="off">
               <div *ngIf="submitted && f.Remarks.errors" 
               class="invalid-feedback"> 
                  <div *ngIf="f.Remarks.errors.maxlength" [style.color]="'Red'">
                      Remarks no more than 255 digits</div>
                      <div *ngIf="f.Remarks.errors.pattern">
                          Remarks no space, no special character </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetEditForm();" data-dismiss="modal" class="btn btn-outline-secondary form-sm">{{'btn-cancel-driver'
            | translate}}</button>
          <button type="submit" class="btn btn-primary form-sm" (click)="editDriver();">{{'btn-save-driver'
            | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>