  <!-- begin breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">EDI Transmission Dashboard</li>
    <li class="breadcrumb-item active">EDI Message List</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">EDI Message List</h1>
  <div class="row m-0">
    <div class="form-group pr-3">
      <label>Message No.</label>
      <div class="form-md">
        <input type="text" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Message Name</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Status</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>Failed</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>From</label>
      <div class="form-md form-calendar">
        <input type="text" class="form-control" placeholder="">
        <img alt="" src="./img/icon-calendar.svg">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>To</label>
      <div class="form-md form-calendar">
        <input type="text" class="form-control" placeholder="">
        <img alt="" src="./img/icon-calendar.svg">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Error Code</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group pr-3">
      <label>Error Type</label>
      <div class="form-md">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="d-flex align-items-end">
      <div class="form-group pr-3 ">
        <button type="button" class="btn btn-primary form-sm">Search</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-secondary form-sm">Reset</button>
      </div>
    </div>
  </div>
  <div class="row mx--10">
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="pr-2 f-s-16">NO. EDI MESSAGE</span>
          <div class="color-blue f-s-40">33694</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="f-s-16 pr-2">NO. ACKNOWLEDGEMENT EDI MESSAGES</span>
          <div class="color-green f-s-40">33481</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 my-2">
      <div class="panel p-2 h-100">
        <div class="d-flex flex-row justify-content-between flex-middle">
          <span class="pr-2 f-s-16">NO. EXCEPTION EDI MESSAGES</span>
          <div class="color-red f-s-40">213</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel mt-2">
    <div class="">
      <div class="float-left row m-0">
        <div class="form-group pr-3">
          <button type="button" class="btn btn-primary">Regenerate</button>
        </div>
      </div>
      <div class="float-right mb-3">
        <div class="flex-center-y">
          <span>Show&nbsp;</span>
          <select class="form-ssm float-left custom-select">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
          <span>&nbsp;entries</span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <th scope="col" class="text-nowrap sorting">Message No.</th>
            <th scope="col" class="text-nowrap sorting">Message Code</th>
            <th scope="col" class="text-nowrap sorting">Message Name</th>
            <th scope="col" class="text-nowrap sorting">Batch Ref No.</th>
            <th scope="col" class="text-nowrap sorting">Sent Time</th>
            <th scope="col" class="text-nowrap sorting">Status</th>
            <th scope="col" class="text-nowrap sorting">Error Code</th>
            <th scope="col" class="text-nowrap sorting">Error Type</th>
            <th scope="col" class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3107</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3109</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S02_This System is abnormal please try again</td>
            <td>Data conversion error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox"/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3107</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3108</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S02_This System is abnormal please try again</td>
            <td>Data conversion error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>1102</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S01_Illegal XML format</td>
            <td>Data integrity error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-blue"></i>
                <img alt="" src="./img/icon-resend-grey.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <div class="Checkbox">
                <input type="checkbox" checked/>
                <div class="Checkbox-visible"></div>
              </div>
            </th>
            <td>201807270600000003</td>
            <td>3102</td>
            <td>新增用户日报信息数据元</td>
            <td class="color-red">201807270600</td>
            <td>2018/07/27 06:00:12</td>
            <td>
              <div class="flex-center-x">
                <span class="badge badge-pill badge-danger w-70">Failed</span>
              </div>
            </td>
            <td>S02_This System is abnormal please try again</td>
            <td>Data conversion error</td>
            <td>
              <div class="d-flex justify-content-around">
                <i class="fas fa-edit color-grey"></i>
                <img alt="" src="./img/icon-resend.svg" class="h-14">
                <img alt="" src="./img/icon-download.svg" data-toggle="modal" data-target="#downloadModal" class="h-14">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-footer">
        <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
        <nav class="float-right" aria-label="...">
          <ul class="pagination m-0">
            <li class="page-item disabled">
              <a class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item disabled">
              <a class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link">2<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--begin download Modal -->
  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog mw-550" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="downloadModalLabel">3109 企业统计日报信息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <img alt="" src="./img/Screenshot_xml.png">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary form-sm">Download</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end download Modal-->
