<div id="MainMenu" class="nav">
  <ul class="list-group">
    <li class="nav-item">
      <a href="#edi" class="d-flex justify-content-between" data-toggle="collapse" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-edi.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-edi-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-edi-transmission-dashboard' | translate }}</span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class=" has-sub collapse" id="edi">
        <a routerLink="/main/editransmission/edimessage-list" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-edi-list' | translate }}</span></a>
        <a routerLink="/main/editransmission/edi-batchlist" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-edi-batch' | translate }}</span></a>
          <a routerLink="/main/editransmission/exception-alert" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-exception' | translate }}
          </span></a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#driver" class="d-flex justify-content-between" data-toggle="collapse" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-driver.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-driver-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-driver-manage' | translate }}</span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="has-sub collapse" id="driver">
        <a routerLink="/main/driver" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-driver-list' | translate }}
          </span></a>
        <a routerLink="/main/driver/upload-profile" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-upload-profile' | translate }}</span></a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#shipment" class="d-flex justify-content-between" data-toggle="collapse" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-shipment.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-shipment-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-shipment-manage' | translate }}</span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="has-sub collapse" id="shipment">
        <a routerLink="/main/pickupshipment" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-shipment-list' | translate }}</span></a>
        <a routerLink="/main/pickupshipment/upload-pickup" class="d-flex align-items-stretch"><i
            class="fas fa-circle"></i><span>{{'lb-submenu-upload-shipment' | translate }}</span></a>
      </div>
    </li>
    <li class="nav-item active">
      <a routerLink="/main/user" class="" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-user.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-user-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-user-manage' | translate}}</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#master-data" class="d-flex justify-content-between" data-toggle="collapse" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-data.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-data-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-masterdata-manage' | translate}}</span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="has-sub collapse" id="master-data">
        <a routerLink="/main/masterdata/province" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-province' | translate}}</span></a>
        <a routerLink="/main/masterdata/city" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-city' | translate}}</span></a>
        <a routerLink="/main/masterdata/county" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-county' | translate}}</span></a>
        <a routerLink="/main/masterdata/driver-center" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-drivercenter' | translate}}</span></a>
        <a routerLink="/main/masterdata/organization" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-organization' | translate}}</span></a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#configuration" class="d-flex justify-content-between" data-toggle="collapse" data-parent="#MainMenu">
        <div class="d-flex flex-row">
          <img alt="" src=".../../../assets/images/icon-config.svg" class="icon-sidebar">
          <img alt="" src=".../../../assets/images/icon-config-white.svg" class="icon-sidebar2">
          <span>{{'lb-menu-config-setting' | translate}}</span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="has-sub collapse" id="configuration">
        <a routerLink="/main/configurationsetting/edimessageschedule" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-edi-schedule' | translate}}</span></a>
        <a routerLink="/main/configurationsetting/ipaddressmanagement" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-ip-manage' | translate}}</span></a>
        <a routerLink="/main/configurationsetting/intergrationconfiguration" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-intergration-config' | translate}}</span></a>
        <a routerLink="/main/configurationsetting/archiveconfiguration" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-archive-config' | translate}}</span></a>
        <a routerLink="/main/configurationsetting/notificationconfiguration" class="d-flex align-items-stretch"><i class="fas fa-circle"></i><span>{{'lb-submenu-notification-config' | translate}}</span></a>
      </div>
    </li>
    <img alt="" src=".../../../assets/images/icon-sidebar-toogled.svg" class="img-sidebar-toggled">
  </ul>
</div>
<!-- </div> -->
