<div class="message-box">
    <div class="modal-header">
      <h5 class="modal-title" id="createModalLabel">{{Caption}}</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      {{Message}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="setResult()">OK</button>
      <button type="button" class="btn btn-default" *ngIf="MessageBoxType!=1" (click)="close()">Cancel</button>
    </div>
  </div>
  