<!-- begin breadcrumb -->
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{'lb-driver-center' | translate}}</h1>
<div class="row m-0">
  <div class="form-group pr-5">
    <label>{{'lb-driver-center-slic' | translate}}</label>
    <div class="form-md">
      <input type="text" class="form-control" [(ngModel)]="searchSLIC" maxlength="255" required placeholder="">
    </div>
  </div>
  <div class="form-group pr-5">
    <label>{{'lb-driver-center-name' | translate}}</label>
    <div class="form-md">
      <input type="text" class="form-control" [(ngModel)]="searchName" maxlength="255" required placeholder="">
    </div>
  </div>
  <div class="form-group pr-5">
    <label>{{'lb-postal-code' | translate}}</label>
    <div class="form-md">
      <input type="text" class="form-control" [(ngModel)]="searchCode" maxlength="255" required placeholder="">
    </div>
  </div>
  <!-- <div class="form-group pr-5">
    <label>{{'lb-province' | translate}}</label>
    <div class="form-md">
      <select class="custom-select" [(ngModel)]="searchProvince">
        <option value="null">{{'lb-please-select-one' | translate}}</option>
        <option *ngFor="let driver of DriverCenters" [value]="driver.County.Province.ProvinceName">{{driver.County.Province.ProvinceName}}</option>
      </select>
    </div>
  </div>
  <div class="form-group pr-5">
    <label>{{'lb-city' | translate}}</label>
    <div class="form-md">
      <select class="custom-select" [(ngModel)]="searchCity">
        <option value="null">{{'lb-please-select-one' | translate}}</option>
        <option *ngFor="let driver of DriverCenters" [value]="driver.County.City.CityName">{{driver.County.City.CityName}}</option>
      </select>
    </div>
  </div>
  <div class="form-group pr-5">
    <label>{{'lb-county' | translate}}</label>
    <div class="form-md">
      <select class="custom-select" [(ngModel)]="searchCounty">
        <option value="null">{{'lb-please-select-one' | translate}}</option>
        <option *ngFor="let driver of DriverCenters" [value]="driver.County.CountyName">{{driver.County.CountyName}}</option>
      </select>
    </div>
  </div> -->
  <div class="d-flex align-items-end">
    <div class="form-group pr-3 ">
      <button type="button" class="btn btn-primary form-sm" (click)="getAll()">{{'btn-search' | translate}}</button>
    </div>
    <div class="form-group pr-3">
      <button type="button" class="btn btn-outline-secondary form-sm" (click)="resetForm()">{{'btn-reset' | translate}}</button>
    </div>
  </div>
</div>
<div class="panel mt-4">
  <div class="">
    <div class="float-left row m-0">
      <div class="form-group pr-3">
        <button type="button" class="btn btn-primary" (click)="showAddModal()">{{'btn-create-new-pro' | translate}}</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-danger" (click)="deleteMultiDataDriverCenter()">{{'btn-delete' |
          translate}}</button>
      </div>
    </div>
    <div class="float-right mb-3">
      <div class="flex-center-y">
        <select class="form-ssm float-left custom-select" (change)="getAll()" [(ngModel)]="pageSize">
          <option value="20"><span>{{'lb-show-organization' | translate}}&nbsp;</span>20<span>&nbsp;{{'lb-items' |
              translate}}</span></option>
          <option value="25"><span>{{'lb-show-organization' | translate}}&nbsp;</span>25<span>&nbsp;{{'lb-items' |
              translate}}</span></option>
          <option value="50"><span>{{'lb-show-organization' | translate}}&nbsp;</span>50<span>&nbsp;{{'lb-items' |
              translate}}</span></option>
          <option value="100"><span>{{'lb-show-organization' | translate}}&nbsp;</span>100<span>&nbsp;{{'lb-items' |
              translate}}</span></option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered" class="table table-striped table-bordered" *ngIf="noResultFound === false">
      <thead>
        <tr>
          <th scope="col">
            <div class="Checkbox">
              <input type="checkbox" (change)="selectAll($event.target.checked)">
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('UPSFacilityName')">{{'lb-driver-center-name'|
            translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('UPSFacilitySLIC')">{{'lb-driver-center-slic' |
            translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('PostalCode')">{{'lb-postal-code' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('ProvinceName')">{{'lb-province' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('CityName')">{{'lb-city' | translate}}</th>
          <th scope="col" class="text-nowrap sorting" (click)="sort('CountyName')">{{'lb-county' | translate}}</th>
          <th scope="col" class="text-nowrap sorting">{{'Default-Driver-UPS-Employee-ID' | translate}}</th>
          <th scope="col" class="text-nowrap sorting">{{'Default-Driver-Name' | translate}}</th>
          <th scope="col" class="">{{'lb-Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of DriverCenters">
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" [(ngModel)]="driver.IsSelected">
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>{{driver.UPSFacilityName}}</td>
          <td>{{driver.UPSFacilitySLIC}}</td>
          <td>{{driver.PostalCode}}</td>
          <td>{{driver.ProvinceName}}</td>
          <td>{{driver.CityName}}</td>
          <td>{{driver.CountyName}}</td>
          <td>{{driver.DefaultDriver}}</td>
          <td>{{driver.DriverName}}</td>
          <td>
            <div class="d-flex justify-content-around">
              <!-- <i class="fas fa-times-circle color-red"></i> -->
              <i class="fas fa-edit color-blue" (click)="showEditModal(driver.UPSFacilityId)"></i>
              <i class="fas fa-trash-alt color-red" (click)="deleteDriverCenter(driver.UPSFacilityId)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered" *ngIf="noResultFound === true">
      <h1>{{'lb-No-Result-Found' | translate}}</h1>
    </table>
    <div class="table-footer">
      <!-- <span class="float-left flex-center-y">{{'lb-showing' | translate}} 1 {{'lb-to' | translate}} {{pageSize}}
        {{'lb-of' | translate}} {{totalItems}}{{'lb-items' | translate}}</span> -->
      <div class="row">
        <div class="col-xs-12 col-12">
          <div class="float-right">
            <pagination [itemsPerPage]="pageSize"  [totalItems]="totalItems"  [boundaryLinks]="true"  previousText="&lsaquo;"
               nextText="&rsaquo;"  firstText="&laquo;"  lastText="&raquo;"  [maxSize]="3"  (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--Create Modal -->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" id="modalAddEdit" role="dialog" aria-labelledby="createModalLabel">
  <div class="modal-dialog  mw-550" role="document">
    <div class="modal-content">
      <form class="form-horizontal form-label-left" [formGroup]="registerForm" (ngSubmit)="saveDriverCenter()">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">{{'lb-city-create' | translate}}</h5>
          <button type="button" class="close" (click)="modalAddEdit.hide()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">
              {{'lb-driver-center-name' | translate}}<span class="color-red">*&nbsp;</span></label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input type="text" formControlName="UPSFacilityName" minlength="3" maxlength="64" required [ngClass]="{ 'is-invalid': submitted && cityFrm.UPSFacilityName.errors }"
                  name="name" class="form-control" placeholder="{{'lb-please-type-here' | translate}}">
                <div class="invalid-feedback">
                  <div>{{'msg-name-required'|translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">
              {{'lb-driver-center-slic' | translate}}<span class="color-red">*&nbsp;</span></label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input type="text" formControlName="UPSFacilitySLIC" minlength="3" maxlength="16" required [ngClass]="{ 'is-invalid': submitted && cityFrm.UPSFacilitySLIC.errors }"
                  name="name" class="form-control" placeholder="{{'lb-please-type-here' | translate}}">
                <div class="invalid-feedback">
                  <div>{{'msg-slic-required'|translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">
              {{'lb-postal-code' | translate}}<span class="color-red">*&nbsp;</span></label>
            <div class="form-xl">
              <div class="col-md-7 ">
                <input type="text" min="0" formControlName="PostalCode" [ngClass]="{ 'is-invalid': submitted && cityFrm.PostalCode.errors }"
                  minlength="3" maxlength="256" required name="code" class="form-control" placeholder="{{'lb-please-type-here' | translate}}">
                <div class="invalid-feedback">
                  <div *ngIf="submitted && cityFrm.PostalCode.errors">
                    <div *ngIf="cityFrm.PostalCode.errors.maxlength">{{'lb-postal-256-digits'|translate}}</div>
                    <div *ngIf="cityFrm.PostalCode.errors.required">{{'msg-code-required'|translate}}</div>
                    <div *ngIf="cityFrm.PostalCode.errors.pattern">{{'lb-postal-not-number'|translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">{{'lb-Province-Name'|translate}}<span class="color-red">&nbsp;*</span></label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input (ngModelChange)="cityFrm.ProvinceName" class="form-control" type="text" formControlName="ProvinceName"
                  autocomplete="off" [typeahead]="Provinces" [typeaheadMinLength]="0" (blur)="onItemChangeProvinceCode($event)"
                  typeaheadOptionField="ProvinceName" [typeaheadOptionsLimit]="5" (typeaheadOnSelect)="onItemChangeProvinceCode($event)"
                  [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceName.errors }">
                <div class="invalid-feedback">
                  <div>{{'lb-county-required-provinceName'|translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">

            <label class="col-form-label">{{'lb-city-name' | translate}}<span class="color-red">&nbsp;*</span></label>

            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input class="form-control" type="text" formControlName="CityName" (ngModelChange)="cityFrm.CityName"
                  autocomplete="off" [typeahead]="Cities" [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0"
                  typeaheadOptionField="CityName" (typeaheadOnSelect)="onItemChangeCityCode($event)" (blur)="onItemChangeCityCode($event)"
                  [ngClass]="{ 'is-invalid': submitted && cityFrm.CityName.errors }">
                <div class="invalid-feedback">
                  <div>{{'lb-county-required-cityName'|translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">{{'lb-county' | translate}}<span class="color-red">&nbsp;*</span></label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input class="form-control" type="text" formControlName="CountyName" (ngModelChange)="cityFrm.CountyName"
                  autocomplete="off" [typeahead]="Countys" [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0"
                  typeaheadOptionField="CountyName" (typeaheadOnSelect)="onItemChangeCountyCode($event)" (blur)="onItemChangeCountyCode($event)"
                  [ngClass]="{ 'is-invalid': submitted && cityFrm.CountyName.errors }">
                <div class="invalid-feedback">
                  <div>{{'lb-county-required-countyName'|translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">
              {{'lb-street' | translate}}<span class="color-red">*&nbsp;</span></label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <textarea class="form-control" rows="3" formControlName="Street" [ngClass]="{ 'is-invalid': submitted && cityFrm.Street.errors }"
                  minlength="3" maxlength="256" required></textarea>
                <div class="invalid-feedback">
                  <div *ngIf="submitted && cityFrm.Street.errors">
                      <div  *ngIf="cityFrm.Street.errors.maxLength">{{ 'msg-street-255-required'|translate}}</div>
                    <div  *ngIf="cityFrm.Street.errors.required">{{ 'msg-street-required'|translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">{{'Default-Driver-UPS-Employee-ID' | translate}}</label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input (ngModelChange)="cityFrm.DriverName.setValue('')" class="form-control" type="text"
                  formControlName="DefaultDriver" autocomplete="off" [typeahead]="Drivers" [typeaheadOptionsLimit]="5"
                  [typeaheadMinLength]="0" typeaheadOptionField="DriverUPSEmpId" (typeaheadOnSelect)="onChangeDriverCenterCode($event)"
                  [ngClass]="{ 'is-invalid': submitted && cityFrm.DefaultDriver.errors }">
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-between">
            <label class="col-form-label">{{'Default-Driver-Name' | translate}}</label>
            <div class="form-xl">
              <div class="col-md-9 col-sm-9 col-xl-12">
                <input type="text" formControlName="DriverName" [ngClass]="{ 'is-invalid': submitted && cityFrm.DriverName.errors }"
                  autocomplete="off" class="form-control" readOnly="True">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary form-sm" (click)="modalAddEdit.hide()" data-dismiss="modal">{{'bnt-city-cancel'
              | translate}}</button>
            <button type="submit" class="btn btn-primary form-sm">{{'bnt-city-save'|translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


