  <!-- begin breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{'lb-header-organization1' | translate}}</li>
    <li class="breadcrumb-item active">{{'lb-header-organization2' | translate}}</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">{{'lb-header-organization2' | translate}}</h1>
  <div class="row m-0">
    <div class="form-group pr-3">
      <label>{{'lb-organization-account' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" [(ngModel)]="searchAccount" placeholder="">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-organization-name' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" [(ngModel)]="searchName" placeholder="">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-tax-no-organization' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" [(ngModel)]="searchTax" placeholder="">
      </div>
    </div>
    <div class="form-group pr-3">
      <label>{{'lb-organization-phone' | translate}}</label>
      <div class="form-md">
        <input type="text" class="form-control" [(ngModel)]="searchPhone" placeholder="">
      </div>
    </div>
    <div class="d-flex align-items-end">
      <div class="form-group pr-3 ">
        <button type="button" class="btn btn-primary form-sm" (click)="getAll()">{{'btn-search-organization' | translate}}</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-secondary form-sm" (click)="resetFormLoad()">{{'btn-reset-organization' | translate}}</button>
      </div>
    </div>
  </div>

  <div class="panel mt-2">
      <div class="">
        <div class="float-left row m-0">
          <div class="form-group pr-3">
            <button type="button" class="btn btn-primary" (click)="showAddModal()">{{'btn-create-organization' | translate}}</button>
          </div>
          <div class="form-group pr-3">
            <button type="button" class="btn btn-outline-danger" (click)="deleteSelected()">{{'btn-delete-organization' | translate}}</button>
          </div>
        </div>
        <div class="float-right mb-3">
          <div class="flex-center-y">
            <!-- <span>{{'lb-show-organization' | translate}}&nbsp;</span> -->
            <select class="form-ssm float-left custom-select" (change)="getAll()" [(ngModel)]="pageSize">
              <option value="20">{{'lb-show-organization' | translate}} 20 {{'lb-entries-organization' | translate}}</option>
              <option value="25">{{'lb-show-organization' | translate}} 25 {{'lb-entries-organization' | translate}}</option>
              <option value="50">{{'lb-show-organization' | translate}} 50 {{'lb-entries-organization' | translate}}</option>
              <option value="100">{{'lb-show-organization' | translate}} 100 {{'lb-entries-organization' | translate}}</option>
            </select>
            <!-- <span>&nbsp;{{'lb-entries-organization' | translate}}</span> -->
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered" *ngIf="notFound === false">
          <thead>
            <tr>
              <th scope="col">
                <div class="Checkbox">
                  <input name="all" type="checkbox" (click)="toggleSelect($event.target.checked)"/>
                  <div class="Checkbox-visible"></div>
                </div>
              </th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('ShipperAccount')">{{'lb-organization-account' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('KnownShipperName')">{{'lb-organization-name' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('KnownShipperTaxNo')">{{'lb-tax-no-organization' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('PhoneNumber')">{{'lb-organization-phone' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('Street')">{{'lb-organization-street' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('PostalCode')">{{'lb-organization-postal-code' | translate}}</th>
              <th scope="col" class="text-nowrap sorting pointer" (click)="sort('ContactPerson')">{{'lb-organization-contact-person' | translate}}</th>
              <th scope="col" class="text-nowrap">{{'lb-action-organization' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shipper of knowShipper; let i=index;">
              <th scope="row">
                <div class="Checkbox">
                  <input type="checkbox" [checked]="shipper.selected"
                   value="shipper.selected" (change)="shipper.selected = !(shipper.selected)"/>
                  <div class="Checkbox-visible"></div>
                </div>
              </th>
              <td>{{shipper.ShipperAccount}}</td>
              <td>{{shipper.KnownShipperName}}</td>
              <td>{{shipper.KnownShipperTaxNo}}</td>
              <td>{{shipper.PhoneNumber}}</td>
              <td>{{shipper.Street}}</td>
              <td>{{shipper.PostalCode}}</td>
              <td>{{shipper.ContactPerson}}</td>
              <td>
                <div class="d-flex justify-content-around">
                  <i class="fas fa-edit color-blue pointer" (click)="showEditModal(shipper.KnownShipperId)"></i>
                  <i class="fas fa-trash-alt color-red pointer" (click)="onDeleteShipper(shipper.KnownShipperId)"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="notFound === true">
          <h1>No Found</h1>
        </table>
        <div class="table-footer">
          <span class="float-left flex-center-y">{{'lb-show1-organization' | translate}} 1 {{'lb-to-organization' | translate}} {{pageSize}} 
            {{'lb-of-organization' | translate}} {{totalItems}} {{'lb-item-organization' | translate}}</span>
          <nav class="float-right" aria-label="...">
            <pagination [itemsPerPage]="pageSize" [totalItems]="totalItems" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;" [rotate]="rotate" [maxSize]="3" (pageChanged)="pageChanged($event)"></pagination>
          </nav>
        </div>
      </div>
    </div>

<!--Modal -->
<div bsModal #modalAddEdit="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-550" role="document">
    <form class="modal-content form-horizontal form-label-left" novalidate #addForm="ngForm"
        (ngSubmit)="saveShipper(addForm)" *ngIf="listShipper">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel" *ngIf="listShipper.KnownShipperId">{{'lb-edit-organization' | translate}}</h5>
        <h5 class="modal-title" id="createModalLabel" *ngIf="listShipper.KnownShipperId == null">{{'btn-create-organization' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-account' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="text" (keypress)="checkSpecialChar($event)" #ShipperAccount="ngModel" [(ngModel)]="listShipper.ShipperAccount" required 
            maxlength="32" id="ShipperAccount" name="ShipperAccount" class="form-control">
            <div class="validation-error" *ngIf="ShipperAccount.invalid && ShipperAccount.touched"
            [style.color]="'Red'">{{'lb-organization-account-is-required' | translate}}</div>
            </div>
          </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-name' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="text" #KnownShipperName="ngModel" [(ngModel)]="listShipper.KnownShipperName" required 
            maxlength="64" name="KnownShipperName" class="form-control">
            <div class="validation-error" *ngIf="KnownShipperName.invalid && KnownShipperName.touched"
            [style.color]="'Red'">{{'lb-organization-name-is-required' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-tax-no-organization' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="text" #KnownShipperTaxNo="ngModel" [(ngModel)]="listShipper.KnownShipperTaxNo" required 
            maxlength="30" name="KnownShipperTaxNo" class="form-control">
            <div class="validation-error" *ngIf="KnownShipperTaxNo.invalid && KnownShipperTaxNo.touched"
            [style.color]="'Red'">{{'lb-organization-taxno-is-required' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-phone' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="number" min="0" #PhoneNumber="ngModel" [(ngModel)]="listShipper.PhoneNumber" required 
            onKeyPress="if(this.value.length==32) return false;" name="PhoneNumber" class="form-control">
            <div class="validation-error" *ngIf="PhoneNumber.invalid && PhoneNumber.touched"
            [style.color]="'Red'">{{'lb-organization-phone-is-required' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-street' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <textarea class="form-control" rows="3" #Street="ngModel" [(ngModel)]="listShipper.Street" required 
            maxlength="256" name="Street"></textarea>
            <div class="validation-error" *ngIf="Street.invalid && Street.touched"
            [style.color]="'Red'">{{'lb-organization-street-is-required' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-postal-code' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="number" min="0" #PostalCode="ngModel" [(ngModel)]="listShipper.PostalCode" required name="PostalCode" class="form-control">
            <div class="validation-error" *ngIf="PostalCode.invalid && PostalCode.touched"
            [style.color]="'Red'">{{'lb-organization-postal-is-required' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">{{'lb-organization-contact-person' | translate}} <span class="color-red">*</span></label>
          <div class="form-xl">
            <input type="text" #ContactPerson="ngModel" [(ngModel)]="listShipper.ContactPerson" required 
            maxlength="32" name="ContactPerson" class="form-control">
            <div class="validation-error" *ngIf="ContactPerson.invalid && ContactPerson.touched"
            [style.color]="'Red'">{{'lb-organization-contact-is-required' | translate}}
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary form-sm" (click)="modalAddEdit.hide()">{{'btn-cancel-organization' | translate}}</button>
        <button type="submit" class="btn btn-primary form-sm" [disabled]="!addForm.form.valid">{{'btn-save-organization' | translate}}</button>
      </div>
    </form>
  </div>
</div>
<!-- end Modal -->
