<form [formGroup]="registerForm" (ngSubmit)="onSaveCounty()">
    <div class="modal-header">
        <h5 class="modal-title" *ngIf="!county" id="createModalLabel">{{'lb-county-detail-create'|translate}}</h5>
        <h5 class="modal-title" *ngIf="county" id="editModalLabel">{{'lb-county-edit'|translate}}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group d-flex justify-content-between">
            <div class="form-md text-center">
                <label class="col-form-label">{{'lb-Province-Name'|translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-xl">
                <input (ngModelChange)="countyFrm.ProvinceCode.setValue('')" class="form-control" type="text"
                    formControlName="ProvinceName" autocomplete="off" [typeahead]="provinceMasterData" (blur)="onItemChangeProvinceCode($event)"
                    [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0" typeaheadOptionField="ProvinceName"
                    (typeaheadOnSelect)="onItemChangeProvinceCode($event)" [ngClass]="{ 'is-invalid': submitted && countyFrm.ProvinceName.errors }">
                <div class="invalid-feedback">
                    <div *ngIf="submitted && countyFrm.ProvinceName.errors">
                        <div *ngIf="countyFrm.ProvinceName.errors.maxlength">{{'lb-county-province-255-character'|translate}}</div>
                        <div *ngIf="countyFrm.ProvinceName.errors.required">{{'lb-city-required-provinceName'|translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-md text-center">
                <label class="col-form-label">{{'lb-Province-Code'|translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-md">
                <input class="form-control" type="text" formControlName="ProvinceCode" autocomplete="off" readonly="true">
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="form-md text-center">
                <label class="col-form-label">{{'lb-city-name'|translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-xl">
                <input class="form-control" type="text" formControlName="CityName" (ngModelChange)="countyFrm.CityCode.setValue('')"
                    autocomplete="off" [typeahead]="cities" [typeaheadOptionsLimit]="5" [typeaheadMinLength]="0"
                    typeaheadOptionField="CityName" (typeaheadOnSelect)="onItemChangeCityCode($event)" (blur)="onItemChangeCityCode($event)"
                    [ngClass]="{ 'is-invalid': submitted && countyFrm.CityName.errors }">
                <div class="invalid-feedback">
                    <div *ngIf="submitted && countyFrm.CityName.errors">
                        <div *ngIf="countyFrm.CityName.errors.maxlength">{{'lb-county-city-255-character'|translate}}</div>
                        <div *ngIf="countyFrm.CityName.errors.required">{{'lb-city-required-cityName'|translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-md text-center">
                <label class="col-form-label">{{'lb-city-code'|translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-md">
                <input class="form-control" type="text" formControlName="CityCode" autocomplete="off" readonly="true">
            </div>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="form-md text-center">
                <label class="col-form-label">{{'lb-county-name' | translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-xl">
                <input class="form-control" type="text" formControlName="CountyName" [ngClass]="{ 'is-invalid': submitted && countyFrm.CountyName.errors }">
                <div class="invalid-feedback">
                    <div></div>
                </div>
                <div class="invalid-feedback">
                    <div *ngIf="submitted && countyFrm.CountyName.errors">
                        <div *ngIf="countyFrm.CountyName.errors.maxlength">{{'lb-county-name-255-character'|translate}}</div>
                        <div *ngIf="countyFrm.CountyName.errors.required">{{'lb-county-required-countyName'|translate}}</div>
                    </div>
                </div>
            </div>
            <div class="form-md text-center">
                <label class="col-form-label"> {{'lb-county-code' | translate}}<span class="color-red">&nbsp;*</span></label>
            </div>
            <div class="form-md">
                <input class="form-control" type="text" formControlName="CountyCode" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && countyFrm.CountyCode.errors }">
                <div class="invalid-feedback">
                    <div *ngIf="submitted && countyFrm.CountyCode.errors">
                        <div *ngIf="countyFrm.CountyCode.errors.maxlength">{{'lb-county-30-digits'|translate}}</div>
                        <div *ngIf="countyFrm.CountyCode.errors.required">{{'lb-county-required-countyCode'|translate}}</div>
                        <div *ngIf="countyFrm.CountyCode.errors.pattern">{{'lb-county-not-number'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary form-sm" (click)="close()">{{'bnt-county-detail-cancel'|translate}}</button>
        <button type="submit" class="btn btn-primary form-sm">{{'bnt-county-detail-save'|translate}}</button>
    </div>
</form>