<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ 'lb-ShipmentDetail-Title' | translate }}</h4>
      <button type="button" class="close pull-right" (click)="mdlRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colShipmentTrackingNumber' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="Shipment.TrackingNo" formControlName="trackingno" maxlength="18" />
          <div *ngIf="submitted && f.trackingno.errors" class="invalid-feedback d-block">
            <div *ngIf="f.trackingno.errors.required">{{ 'msg_69' | translate }}</div>
            <div *ngIf="f.trackingno.errors.invalidTrackingNumber">{{ 'msg_69' | translate }}</div>
            <div *ngIf="f.trackingno.errors.duplicate">{{ 'msg_duplicate_trackingnumber' | translate }}</div>
          </div>
          <div *ngIf="errors['TrackingNo']" class="invalid-feedback d-block">{{errors['TrackingNo']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPickupDateTime' | translate }}(*)</label>
        <div class="col-sm-9">
          <angular2-date-picker [(ngModel)]="shipmentDate" (ngModelChange)="onShipmentDateChanged(shipmentDate)" [settings]="settings" formControlName="pickupdatetime"></angular2-date-picker>
          <div *ngIf="submitted && f.pickupdatetime.errors" class="invalid-feedback d-block">
            <div *ngIf="f.pickupdatetime.errors.required">{{ 'colPickupDateTime' | translate}} {{ 'msg_1' | translate }}</div>
            <div *ngIf="f.pickupdatetime.errors.validDateTime">{{ 'msg_8_pickupdatetime' | translate }}</div>
          </div>
          <div *ngIf="errors['PickUpDateTime']" class="invalid-feedback d-block">{{errors['PickUpDateTime']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colDriverUpsEmpId' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" maxlength="30" class="form-control" [(ngModel)]="selectedDriverEmpId" 
            formControlName="driveremployeeid" autocomplete="off" [typeahead]="Drivers" 
            typeaheadOptionField="DriverUPSEmpId" (typeaheadOnSelect)="onDriverEmpIdChange($event)" 
            [typeaheadMinLength]="0" />
            <div *ngIf="submitted && f.driveremployeeid.errors" class="invalid-feedback d-block">
              <div *ngIf="f.driveremployeeid.errors.required">{{ 'colDriverUpsEmpId' | translate }} {{ 'msg_1' | translate }}</div>
            </div>
           <div *ngIf="errors['DriverEmployeeId']" class="invalid-feedback d-block">{{errors['DriverEmployeeId']}}</div>
           <div *ngIf="errors['Driver information']" class="invalid-feedback d-block">{{ 'msg_8_empId' | translate }}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colDriverNationalId' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="Shipment.DriverNationId" formControlName="drivernationid" disabled />
          <div *ngIf="submitted && f.drivernationid.errors" class="invalid-feedback d-block">
            <div *ngIf="f.drivernationid.errors.required">{{ 'colDriverNationalId' | translate }} {{ 'msg_1' | translate }}</div>
          </div>
          <div *ngIf="errors['DriverNationId']" class="invalid-feedback d-block">{{errors['DriverNationId']}}</div>
          <div *ngIf="errors['Driver information']" class="invalid-feedback d-block">{{ 'msg_8_nationId' | translate }}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colShipperUPSAccNum' | translate }}(*)</label>
        <div class="col-sm-9 form-xl">
          <input type="text" class="form-control" [(ngModel)]="Shipment.ShipperUPSAccNum" formControlName="shipperupsaccnum" maxlength="30" />
          <div *ngIf="submitted && f.shipperupsaccnum.errors" class="invalid-feedback d-block">
            <div *ngIf="f.shipperupsaccnum.errors.required">{{ 'colShipperUPSAccNum' | translate }} {{ 'msg_1' | translate }}</div>
          </div>
          <div *ngIf="errors['ShipperUPSAccNum']" class="invalid-feedback d-block">{{errors['ShipperUPSAccNum']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPickupAddr' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="Shipment.PickUpAddress" formControlName="pickupaddress" maxlength="255" />
          <div *ngIf="submitted && f.pickupaddress.errors" class="invalid-feedback d-block">
            <div *ngIf="f.pickupaddress.errors.required">{{ 'colPickupAddr' | translate }} {{ 'msg_1' | translate }}</div>
          </div>
          <div *ngIf="errors['PickUpAddress']" class="invalid-feedback d-block">{{errors['PickUpAddress']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPostalCode' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="Shipment.PostCode" formControlName="postcode" maxlength="6" />
          <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback d-block">
            <div *ngIf="f.postcode.errors.required">{{ 'colPostalCode' | translate }} {{ 'msg_1' | translate }}</div>
          </div>
          <div *ngIf="errors['PostalCode']" class="invalid-feedback d-block">{{errors['PostalCode']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPackageDescription' | translate }}(*)</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="5" [(ngModel)]="Shipment.PackageDescription" formControlName="packagedescription" maxlength="300"></textarea>
          <div *ngIf="submitted && f.packagedescription.errors" class="invalid-feedback d-block">
            <div *ngIf="f.packagedescription.errors.required">{{ 'colPackageDescription' | translate }} {{ 'msg_1' | translate }}</div>
          </div>
          <div *ngIf="errors['PackageDescription']" class="invalid-feedback d-block">{{errors['PackageDescription']}}</div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPackageType' | translate }}(*)</label>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="Shipment.PackageType" formControlName="packagetype">
            <option value="Doc">Doc</option>
            <option value="Non-Doc">Non-Doc</option>
            <option value="Others">Others</option>
          </select>
          <div *ngIf="submitted && f.packagetype.errors" class="invalid-feedback d-block">
            <div *ngIf="f.packagetype.errors.required">{{ 'colPackageType' | translate}} {{ 'msg_1' | translate }}</div>
            <div *ngIf="f.packagetype.errors.invalidPackageType">{{ 'msg_8_packageType' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colPackageQuantity' | translate }}(*)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="Shipment.PackageQuantity" formControlName="packagequantity" maxlength="3" />
            <div *ngIf="submitted && f.packagequantity.errors" class="invalid-feedback d-block">
              <div *ngIf="f.packagequantity.errors.required">{{ 'colPackageQuantity' | translate}} {{ 'msg_1' | translate }}</div>
              <div *ngIf="f.packagequantity.errors.invalid_characters">{{ 'msg_8_packageQuantity' | translate }}</div>
            </div>
         </div>
      </div>
      <div class="form-group row d-flex justify-content-between">
        <label class="col-sm-3 col-form-label">{{ 'colConsigneeMobileNumber' | translate }}(*)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="Shipment.ConsigneeMobileNumber" formControlName="consigneemobilenumber" maxlength="12" />
          <div *ngIf="submitted && f.consigneemobilenumber.errors" class="invalid-feedback d-block">
            <div *ngIf="f.consigneemobilenumber.errors.required">{{ 'colConsigneeMobileNumber' | translate}} {{ 'msg_1' | translate }}</div>
            <div *ngIf="f.consigneemobilenumber.errors.invalid_characters">{{ 'msg_phonenumber_invalid' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary form-sm" (click)="mdlRef.hide()">{{ 'btn-Cancel-Import' | translate }}</button>
      <button type="submit" class="btn btn-primary form-sm">{{ 'btn-Save-Shipment' | translate }}</button>
    </div>
</form>