  <!-- begin breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Configuration Setting</li>
    <li class="breadcrumb-item active">Archive Configuration</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Archive Configuration</h1>
  <!-- end page-header -->
  <div class="form-group row mx-0">
    <div class="flex-center-y">
      <label class="switch mb-0">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <label class="col-form-label font-weight-bold f-s-16 ml-2">EDI Message Auto Archive</label>
    </div>
  </div>
  <!-- begin card -->
  <div class="card mb-3">
    <div class="card-header flex-center-y">
      <label class="mb-0">Storage</label>
    </div>
    <div class="card-body">
      <div class="form-group row mx-0">
        <label class="col-form-label w-232"><span class="color-red m-l--10">*&nbsp;</span>Archive Remote IP Address</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">Database Name</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232"><span class="color-red m-l--10">*&nbsp;</span>Username</label>
        <div class="form-xl m-x-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232"><span class="color-red m-l--10">*&nbsp;</span>Password</label>
        <div class="form-xl m-x-10">
          <input type="password" class="form-control" placeholder="">
        </div>
      </div>
      <div class="flex-center-x"><button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Validate</button></div>
    </div>
  </div>
  <!-- end card -->
  <!-- begin card -->
  <div class="card mb-3">
    <div class="card-header">
      <label class="mb-0">Auto Archive</label>
    </div>
    <div class="card-body">
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">Run Auto Archive every</label>
        <div class="m-x-10 col">
          <div class="row">
            <input type="number" name="day" size="4" maxlength="3" class="form-control form-ssm" value="7" />
            <span class="flex-center-y px-2">day(s) at</span>
            <input type="text" class="form-control form-ssm" placeholder="23:30" />
            <span class="flex-center-y pl-2">(hh:mm)</span>
          </div>
        </div>
      </div>
      <div class="form-group row mx-0">
        <label class="col-form-label w-232">Move Items Older Than</label>
        <div class="m-x-10 col">
          <div class="row">
            <input type="number" name="day" size="4" maxlength="3" class="form-control form-ssm mr-3" value="1" />
            <div class="form-md">
              <select class="custom-select">
                <option selected>month(s)</option>
                <option value="1">year(s)</option>
                <i class="fas fa-chevron-down text-black"></i>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-control custom-checkbox flex-center-y m-x-10">
        <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck1" checked>
        <label class="custom-control-label " for="customCheck1">Delete Items After Moved</label>
      </div>
    </div>
  </div>
  <!-- end card -->
  <!-- begin card -->
  <div class="card mb-3">
    <div class="card-header">
      <label class="mb-0">Items</label>
    </div>
    <div class="card-body m-x-10">
      <div class="custom-control custom-checkbox flex-center-y mb-2">
        <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck2">
        <label class="custom-control-label " for="customCheck2">All Items</label>
      </div>
      <div class="d-flex flex-column ml-3">
        <div class="custom-control custom-checkbox flex-center-y">
          <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck3" checked>
          <label class="custom-control-label " for="customCheck3">Acknowledged EDI Messages</label>
        </div>
        <div class="custom-control custom-checkbox flex-center-y">
          <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck4" checked>
          <label class="custom-control-label " for="customCheck4">Error EDI Messages</label>
        </div>
        <div class="custom-control custom-checkbox flex-center-y">
          <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck5">
          <label class="custom-control-label " for="customCheck5">Alerts</label>
        </div>
        <div class="custom-control custom-checkbox flex-center-y">
          <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck6" checked>
          <label class="custom-control-label " for="customCheck6">Transmission Batches</label>
        </div>
        <div class="custom-control custom-checkbox flex-center-y">
          <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck7">
          <label class="custom-control-label " for="customCheck7">Pickup Shipment Infomation</label>
        </div>
      </div>
    </div>
  </div>
  <!-- end card -->

<div class="d-flex flex-row-reverse mt-3">
  <div class="form-group pr-3 ">
    <button type="button" class="btn btn-primary form-sm">Save</button>
  </div>
  <div class="form-group pr-3">
    <button type="button" class="btn btn-outline-secondary">Archive Now</button>
  </div>
</div>
