<!-- begin breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">Configuration Setting</li>
  <li class="breadcrumb-item active">EDI Message Schedule Configuration</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">EDI Message Schedule Configuration</h1>
<!-- begin accordion -->
<div id="accordion">
  <!-- begin card -->
  <div class="card" *ngFor="let ediMsg of EDIMessageConfigurations">
    <div class="card-header flex-center-y" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <i class="fas fa-chevron-right icon-square-right"></i>
      <i class="fas fa-chevron-down icon-square-down"></i>
      <label class="mb-0 row flex-center-y">{{ediMsg.MessageName}}</label>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="form-group row mx-0">
          <label class="col-form-label w-150">Run</label>
          <div class="m-x-10">
              <label class="mb-0 row flex-center-y">
                <div class="m-x-10">
                  <label class="switch mb-0">
                    <input type="checkbox" [(ngModel)]="ediMsg.IsRunning" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </label>
          </div>
        </div>
        <div class="form-group row mx-0">
          <label class="col-form-label w-150">Start Time</label>
          <div class="m-x-10">
            <input type="time" name="time" maxlength="8" class="form-control" [ngModel]="ediMsg.BeginTime | date:'HH:mm'" />
          </div>
          <span class="flex-center-y pl-2">hh:mm:ss</span>
        </div>
        <div class="form-group row mx-0">
          <label class="col-form-label w-150">Cut-off Time</label>
          <div class="m-x-10">
            <input type="time" name="time" maxlength="8" class="form-control" [ngModel]="ediMsg.EndTime | date:'HH:mm'" />
          </div>
          <span class="flex-center-y pl-2">hh:mm:ss</span>
        </div>
        <div class="form-group row mx-0">
          <label class="col-form-label w-150">Every</label>
          <div class="row m-x-10">
            <input type="number" name="hour" size="4" maxlength="3" class="form-control form-ssm" [(ngModel)]="ediMsg.RepeatHour" />
            <span class="flex-center-y pl-2">hour(s)</span>
          </div>
        </div>
        <div class="row mx-0">
          <label class="col-form-label w-150">Report</label>
          <div class="col m-x-10 px-0">
            <div class="row mx-0">
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck1" [(ngModel)]="ediMsg.RepeatDays.Monday" />
                <label class="custom-control-label " for="customCheck1">Monday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck2" [(ngModel)]="ediMsg.RepeatDays.TuesDay" />
                <label class="custom-control-label " for="customCheck2">Tuesday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck3" [(ngModel)]="ediMsg.RepeatDays.Wednesday" />
                <label class="custom-control-label " for="customCheck3">Wednesday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck4" [(ngModel)]="ediMsg.RepeatDays.Thursday"  />
                <label class="custom-control-label " for="customCheck4">Thursday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck5" [(ngModel)]="ediMsg.RepeatDays.Friday"  />
                <label class="custom-control-label " for="customCheck5">Friday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y mr-3">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck6" [(ngModel)]="ediMsg.RepeatDays.Saturday"  />
                <label class="custom-control-label " for="customCheck6">Saturday</label>
              </div>
              <div class="custom-control custom-checkbox flex-center-y">
                <input type="checkbox" class="custom-control-input flex-center-y" id="customCheck7" [(ngModel)]="ediMsg.RepeatDays.Sunday"  />
                <label class="custom-control-label " for="customCheck7">Sunday</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row-reverse mt-3">
  <div class="form-group pr-3 ">
    <button type="button" class="btn btn-primary form-sm" (click)="save()">Save</button>
  </div>
</div>