<h1 class="page-header">{{'lb-provide-management' | translate}}</h1>
<div class="row m-0">
    <div class="form-group pr-3">
        <label>{{'lb-Province-Name' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" maxlength="255" required placeholder="" #name="ngModel" [(ngModel)]="searchProvinceName">
        </div>
    </div>
    <div class="form-group pr-3">
        <label>{{'lb-Province-Code' | translate}}</label>
        <div class="form-md">
            <input type="text" class="form-control" maxlength="255" required placeholder="" #code="ngModel" [(ngModel)]="searchProvinceCode">
        </div>
    </div>
    <div class="d-flex align-items-end">
        <div class="form-group pr-3 ">
            <button type="button" class="btn btn-primary form-sm" (click)="search();">{{'btn-search'
                | translate}}</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-secondary form-sm" (click)="resetForm()">{{'btn-Reset'
                | translate}}</button>
        </div>
    </div>
</div>
<div class="panel mt-2">
    <div class="">
        <div class="float-left row m-0">
            <div class="form-group pr-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal" (click)="ShowCreate(); ">{{'btn-create-new-province'
                    | translate}} </button>
            </div>
            <div class="form-group pr-3">
                <button type="button" class="btn btn-outline-danger" (click)="deleteMultiDataProvince()">{{'btn-delete'
                    |
                    translate}}</button>
            </div>
        </div>
        <div class="float-right mb-3">
            <div class="flex-center-y">
                <select class="form-ssm float-left custom-select" (change)="search()" [(ngModel)]="pageSize">
                    <option value="20"><span>{{'lb-show-organization' | translate}}&nbsp;</span>20<span>&nbsp;{{'lb-items'
                            | translate}}</span></option>
                    <option value="30"><span>{{'lb-show-organization' | translate}}&nbsp;</span>25<span>&nbsp;{{'lb-items'
                            | translate}}</span></option>
                    <option value="50"><span>{{'lb-show-organization' | translate}}&nbsp;</span>50<span>&nbsp;{{'lb-items'
                            | translate}}</span></option>
                    <option value="100"><span>{{'lb-show-organization' | translate}}&nbsp;</span>100<span>&nbsp;{{'lb-items'
                            | translate}}</span></option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" *ngIf="noResultFound === false">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="Checkbox">
                            <input type="checkbox" (change)="selectAll($event.target.checked)" />
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <th scope="col" class="text-nowrap sorting" (click)="sort('ProvinceName')">{{'lb-Province-Name' |
                        translate}}</th>
                    <th scope="col" class="text-nowrap sorting" (click)="sort('ProvinceCode')">{{'lb-Province-Code' |
                        translate}}</th>
                    <th scope="col" class="text-nowrap">{{'lb-action' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of provinces">
                    <th scope="row">
                        <div class="Checkbox">
                            <input type="checkbox" [(ngModel)]="item.IsSelected" />
                            <div class="Checkbox-visible"></div>
                        </div>
                    </th>
                    <td>{{ item.ProvinceName }}</td>
                    <td>{{ item.ProvinceCode }}</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <i class="fas fa-edit color-blue" (click)="showEdit(item.ProvinceId)"></i>
                            <i class="fas fa-trash-alt color-red" (click)="deleteDataProvince(item.ProvinceId)"></i>
                        </div>
                    </td>
            </tbody>
        </table>
        <table class="table table-striped table-bordered" *ngIf="noResultFound === true">
            <h1>{{'lb-No-Result-Found' | translate}}</h1>
        </table>
        <div class="table-footer">
            <!-- <span class="float-left flex-center-y">{{'lb-showing' | translate}} 1 {{'lb-to' | translate}} {{pageSize}}
        {{'lb-of' | translate}} {{totalItems}} {{'lb-items' | translate}}</span> -->
            <div class="row">
                <div class="col-xs-12 col-12">
                    <div class="float-right">
                        <pagination [itemsPerPage]="pageSize"  [totalItems]="totalItems"  [boundaryLinks]="true"
                             previousText="&lsaquo;"  nextText="&rsaquo;"  firstText="&laquo;"  lastText="&raquo;"
                             [maxSize]="3"  (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Create Modal -->
<div bsModal #modalAdd="bs-modal" class="modal fade" tabindex="-1" id="modalAdd" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal form-label-left" [formGroup]="registerForm" (ngSubmit)="saveChangeDataProvince()">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">{{'btn-create-new-province' | translate}}</h5>
                    <button type="button" class="close" (click)="modalAdd.hide();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Name' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input class="form-control" type="text"  formControlName="ProvinceName" [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceName.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.ProvinceName.errors">
                                    <div *ngIf="cityFrm.ProvinceName.errors.required">{{'lb-county-required-provinceName'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceName.errors.maxlength">{{'lb-province-255-digits'|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label"> {{'lb-Province-Code' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text"  formControlName="ProvinceCode" [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceCode.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.ProvinceCode.errors">
                                    <div *ngIf="cityFrm.ProvinceCode.errors.maxlength">{{'lb-province-30-digits'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceCode.errors.required">{{'lb-Province-Code-is-required'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceCode.errors.pattern">{{'lb-province-not-number'|translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary form-sm" (click)="modalAdd.hide();"
                            data-dismiss="modal">{{'bnt-city-cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary form-sm">{{'bnt-city-save'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- end Create Modal -->

<!-- end Edit Modal -->
<div bsModal #modalEdit="bs-modal" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal form-label-left" [formGroup]="registerForm" (ngSubmit)="saveChangeDataProvince()">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">{{'btn-edit-provice' | translate}}</h5>
                    <button type="button" class="close" (click)="modalEdit.hide();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-md text-center">
                            <label class="col-form-label">{{'lb-Province-Name' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-xl">
                            <input class="form-control" type="text"  formControlName="ProvinceName" [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceName.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.ProvinceName.errors">
                                    <div *ngIf="cityFrm.ProvinceName.errors.required">{{'lb-county-required-provinceName'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceName.errors.maxlength">{{'lb-province-255-digits'|translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-md text-center">
                            <label class="col-form-label"> {{'lb-Province-Code' | translate}}<span class="color-red">&nbsp;*</span></label>
                        </div>
                        <div class="form-md">
                            <input class="form-control" type="text"  formControlName="ProvinceCode" [ngClass]="{ 'is-invalid': submitted && cityFrm.ProvinceCode.errors }">
                            <div class="invalid-feedback">
                                <div *ngIf="submitted && cityFrm.ProvinceCode.errors">
                                    <div *ngIf="cityFrm.ProvinceCode.errors.maxlength">{{'lb-province-30-digits'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceCode.errors.required">{{'lb-Province-Code-is-required'|translate}}</div>
                                    <div *ngIf="cityFrm.ProvinceCode.errors.pattern">{{'lb-province-not-number'|translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary form-sm" (click)="modalEdit.hide();"
                            data-dismiss="modal">{{'bnt-city-cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary form-sm">{{'bnt-city-save'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Edit Modal -->