<!-- begin breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">Configuration Setting</li>
  <li class="breadcrumb-item active">IP Address List</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">IP Address List</h1>
<div class="row m-0">
  <div class="form-group pr-3">
    <label>IP Address</label>
    <div class="form-md">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  <div class="form-group pr-3">
    <label>Status</label>
    <div class="form-md">
      <select class="custom-select">
        <option selected>All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group pr-3">
    <label>Server Type</label>
    <div class="form-md">
      <select class="custom-select">
        <option selected>All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="d-flex align-items-end">
    <div class="form-group pr-3">
      <button type="button" class="btn btn-primary form-sm">Search</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-secondary form-sm">Reset</button>
    </div>
  </div>
</div>
<div class="panel mt-2">
  <div class="">
    <div class="float-left row m-0">
      <div class="form-group pr-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create New IP</button>
      </div>
      <div class="form-group pr-3">
        <button type="button" class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div class="float-right mb-3">
      <div class="flex-center-y">
        <span>Show&nbsp;</span>
        <select class="form-ssm float-left custom-select">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        <span>&nbsp;entries</span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">
            <div class="Checkbox">
              <input type="checkbox" />
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <th scope="col" class="text-nowrap sorting">IP Address</th>
          <th scope="col" class="text-nowrap sorting">Server Type</th>
          <th scope="col" class="text-nowrap sorting">Status</th>
          <th scope="col" class="text-nowrap sorting">Host Name</th>
          <th scope="col" class="">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-success w-80">Available</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-actionable w-80">Assigned</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-actionable w-80">Assigned</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-actionable w-80">Assigned</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-success w-80">Available</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="Checkbox">
              <input type="checkbox" checked/>
              <div class="Checkbox-visible"></div>
            </div>
          </th>
          <td>10.255.104.1</td>
          <td>Web Server</td>
          <td>
            <div class="flex-center-x">
              <span class="badge badge-pill badge-actionable w-80">Assigned</span>
            </div>
          </td>
          <td>SPB host name</td>
          <td>
            <div class="d-flex justify-content-around">
              <i class="fas fa-edit color-blue" data-toggle="modal" data-target="#editModal"></i>
              <i class="fas fa-trash-alt color-red"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer">
      <span class="float-left flex-center-y">Showing 1 to 10 of 60 entries</span>
      <nav class="float-right" aria-label="...">
        <ul class="pagination m-0">
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link">2
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
<!--Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create New IP Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">IP Address</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Server Type</label>
          <div class="form-xl">
            <select class="custom-select">
              <option selected>Web Server</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Host Name</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Username</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Password</label>
          <div class="form-xl">
            <input type="password" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Port</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary form-sm">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- end Create Modal -->
<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit IP Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">IP Address</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="10.255.104.3">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Server Type</label>
          <div class="form-xl">
            <select class="custom-select">
              <option selected>Web Server</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Host Name</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="CNPI.com">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Username</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="abc">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Password</label>
          <div class="form-xl">
            <input type="password" class="form-control" placeholder="" value="*********">
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <label class="col-form-label">Port</label>
          <div class="form-xl">
            <input type="text" class="form-control" placeholder="" value="22">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary form-sm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary form-sm">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- end Create Modal -->